{% extends "main.html" %}

{% block content %}
    <center><h3>ModelDB - API Overview</h3></center>

    <p>
        The prefix for accessing all API calls is <code>/api/v1</code>.
    </p>

    <p>
        To see what types of data are available simply call <a href="/api/v1">/api/v1</a>. 
        This returns a JSON-encoded list that includes e.g. celltypes, models, ...
    </p>

    <p>
        To find out which data objects are available for a given type, query that type.
        e.g. The list of all model object ids is <a href="/api/v1/models">/api/v1/models</a>.
    </p>

    <p>
        To get a specific instance, include the object id. e.g. The data for model 87284 is at
        <a href="/api/v1/models/87284">/api/v1/models/87284</a>.
    </p>

    <p>
        You can also get a list of property values in the same order as the object ids by
        querying on the name of the property. For example, to get the "name" property for all
        the celltypes objects, query <a href="/api/v1/celltypes/name">/api/v1/celltypes/name</a>.
    </p>
    <p>
        By default, the results are returned without pretty-printing, however you may get a
        pretty-printed version instead by specifying a number for the GET argument <code>indent</code>;
        e.g. <a href="/api/v1/models/87284?indent=4">/api/v1/models/87284?indent=4</a>.
    </p>
    <p>
        For the special cases of <code>/api/v1/models</code> and queries of specific properties,
        the set of models/property values returned may be filtered by other properties of the model
        using either the object_id or the object_name, e.g.
        <a href="/api/v1/models?model_concept=112047">/api/v1/models?model_concept=112047</a> shows the
        set of models with model concept 112047 (Alzheimer's), 
        <a href="/api/v1/models/created?model_concept=112047">/api/v1/models/created?model_concept=112047</a>
        shows the creation date of these models, and
        <a href="/api/v1/models?modeling_application=NEURON">/api/v1/models?modeling_application=NEURON</a>
        shows the set of models using NEURON as a modeling application. Multiple fields may be filtered
        at the same time, but currently only one filter value for a given field is allowed, and only
        potentially multi-valued fields are supported. <code>null</code> is returned when a model does not have
        an entry for the corresponding field.
    </p>
    <p>
        Repeated queries of the models endpoint in short succession will appear in consistent order
        provided there are no intervening server restarts or new public models.
        That is, calling <a href="/api/v1/models/ver_date?modeling_application=NEURON">/api/v1/models/ver_date?modeling_application=NEURON</a>
        and then <a href="/api/v1/models?modeling_application=NEURON">/api/v1/models?modeling_application=NEURON</a>
        will return two lists that can be zipped together, with the ith <code>ver_date</code> corresponding
        to the ith model id.
        Do not cache the results as no guarantees are made about order across server restarts or 
        when models are added.
    </p>
    <p>
        All results are returned with mime type <code>application/json</code>.
    </p>
{% endblock %}