{% extends "main.html" %}

{% block head %}
    <style>
        #id_old_password {
            margin-right: 2em;
        }
        form > label {
            margin-right: 1em;
        }
    </style>
    <script>
        $(() => {
            $('form').append(
                '<input name="next" type="hidden" value="{{next}}" />'
            );
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Change password for: {{request.user.username}}</h1>
            <br>
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <br><br>
                <button type="submit">Update</button>
            </form>
        </div>
    </div>
{% endblock %}