{% extends "main.html" %}

{% block head %}
<meta property="og:url" content="https://modeldb.science/eco"/>
<meta property="og:title" content="An ecosystem of computational resources"/>
<meta property="og:description" content="ModelDB is part an ecosystem of resources for computational neuroscience. These resources fall into two broad categories:  portals and data resources with which we have had formal or informal collaborations, and simulators and simulation tools."/>

<style>
.modellist>li {
    padding-top: 1em;
}
</style>
{% endblock %}
{% block content %}
<div class="row">
        <div class="col-lg-12">
            <center><h3><b>An ecosystem of computational resources</b></h3></center>

            <a href="/modeldb">ModelDB</a>, and its closely related databases <a href="/simtooldb/">SimToolDB</a> and <a href="/neurondb/">NeuronDB</a>,
            are key elements of an ecosystem of resources for computational
            neuroscience. These resources fall into two broad categories:  portals and data
            resources with which we have had formal or informal collaborations,
            and simulators and simulation tools.
        
            <h4><b>Neuroinfomatics portals and resources with which we have collaborated</b></h4>
            <ul>
                <li>
                    <a href="http://neuinfo.org">Neuroscience Information Framework</a>
                    "The Neuroscience Information Framework is a dynamic inventory of Web-based neuroscience
                    resources: data, materials, and tools accessible via any computer connected to the
                    Internet. An initiative of the NIH Blueprint for Neuroscience Research, NIF advances
                    neuroscience research by enabling discovery and access to public research data and
                    tools worldwide through an open source, networked environment."
                </li>
                <li>
                    <a href="http://neuromorpho.org/">NeuroMorpho.org</a> is a centrally curated inventory of  digitally reconstructed neurons.
                    NeuroMorpho.Org contains contributions from over two-dozen labs and is continuously updated as new morphological reconstructions are
                    collected, published, and shared, with the goal of densely covering all available data. A related site is <a target="_blank" href="http://krasnow1.gmu.edu/cn3/L-Neuron/index.htm">L-NEURON</a>, a modeling tool for the efficient
                    generation and parsimonious description of dendritic morphology.
                </li>
                <li>
                    <a href="http://www.neuroelectro.org/">Neuroelectro</a>
                    "The goal of the NeuroElectro Project is to extract information about the
                    electrophysiological properties (e.g. resting membrane potentials and membrane time
                    constants) of diverse neuron types from the existing literature and place it into a
                    centralized database."
                </li>
                <li>
                    The <a href="https://icg.neurotheory.ox.ac.uk/">Ion Channel Genealogy</a> database provides a comprehensive and quantitative assay of ion channel models currently available in the neuroscientific modeling community, all browsable in interactive visualizations.
                </li>
                <li>
                    The <a href="http://opensourcebrain.org">Open Source Brain</a> repository (OSB) is a public repository for detailed neuronal models in standardised formats, with curated, stable releases which will evolve in line with new experimental findings, the latest modelling paradigms and simulator technology development. Anyone can contribute to any of the models on OSB, either through fixing a bug, adding new features or improving documentation for published models.
                </li>
                <li>
                    <a href="http://www.neuroml.org">NeuroML</a> is intended as the home
                    for markup language efforts for neuroscience.
                    <a href="http://www.sourceforge.net/projects/neuroml">
                        Source Forge
                        hosts NeuroML development efforts
                    </a>
                    This includes syntax and
                    semantics for data, sites, other entities such as chemical species, methods,
                    models, and references.
                    A number of simulation tool developers are
                    collaborating to define and use a common data model for describing neuroscience
                    simulation models. Currently the levels of description covers models of ion
                    channels, multicompartment cells and networks of neurons.
                </li>
                <li>
                    The <a href="http://sim.neuroinf.jp/">Simulation Platform</a> (SimPF) provides a test environment of computational models via web.
                </li>
        
                <li>
                    The <a href="http://www.nsgportal.org">Neuroscience Gateway</a> (NSG portal) is a resource for the neuroscience community supported by the National Science Foundation. Through a simple web-based portal, the NSG provides an administratively and technologically streamlined environment for uploading models, specifying HPC job parameters, querying running job status, receiving job completion notices, and storing and retrieving output data. The NSG transparently distributes user's jobs to appropriate XSEDE HPC resources.
                </li>
        
            </ul>
            <h4><b>Simulators and Simulator Tools</b></h4>
            <ul>
                <li>
                    <a target="_blank" href="http://neuron.yale.edu">NEURON</a> for empirically-based simulations of neurons and networks of neurons.
                </li>
                <li>
                    <a target="_blank" href="http://www.genesis-sim.org/">GENESIS</a> GEneral NEural SImulation System developed at Caltech to provide a standard and flexible means of
                    constructing realistic simulations of biological neural systems.
                    <a href="http://moose.ncbs.res.in/">MOOSE</a> is the Multiscale Object-Oriented Simulation Environment.
                    It is the base and numerical core for large, detailed simulations including Computational Neuroscience and Systems Biology.
                    ... MOOSE spans the range from single molecules to subcellular networks, from single cells to neuronal networks, and to still
                    larger systems. it is backwards-compatible with GENESIS, and forward compatible with Python and XML-based model definition
                    standards like SBML and MorphML.
                </li>
                <li>
                    <a target="_blank" href="https://med.uth.edu/nba/resources/snnap/">SNNAP</a> Simulator for Neural Networks and Action Potentials is
                    a tool for the rapid development and simulation of realistic models of single neurons and small neural networks.<br>
                </li>
                <!--
            <li>
                <a href="http://www.compneuro.org/catacomb/"> Catacomb </a>consists of a set of frameworks for
                various types of models in neuroscience, user interfaces to facilitate building models within these frameworks, and numerical algorithms to
                compute their behavior. The available frameworks include reaction kinetics, reaction diffusion systems, kinetic scheme models of ion
                channels, small neuron models and integrate and fire networks.
            </li> -->
                <li>
                    <a target="_blank" href="http://www.mcell.cnl.salk.edu/">MCell</a> makes it possible to incorporate high resolution ultrastructure into models of ligand diffusion and signaling, and
                    has evolved from experimental and theoretical work of the MCell group: Joel Stiles (deceased, formerly of Biomedical Applications, Pittsburgh Supercomputing Center),
                    Miriam Salpeter (Neurobiology &amp; Behavior, Cornell University), Edwin Salpeter (Department of Physics and Astronomy, Cornell University), and
                    Thomas Bartol and Terrence Sejnowski (Computational Neurobiology Laboratory, Salk Institute).<br>
                </li>
                <li>
                    <a target="_blank" href="https://vcell.org">Virtual Cell Environment</a>
                    ... "The user can build complex models with a web-based Java interface to specify compartmental topology and
                    geometry, molecular characteristics, and relevant interaction parameters. The Virtual Cell automatically
                    converts the biological description into a corresponding mathematical system of ordinary and/or partial
                    differential equations. Distinct biological and mathematical frameworks are encompassed within a single
                    graphical interface. The mathematic-savy user may directly specify the complete mathematical description
                    of the model, bypassing the schematic interface. The Virtual Cell will then solve the equations by
                    applying numerical solvers and generate appropriate software code to perform and analyze simulations.
                    Results can be displayed and analyzed on-line or downloaded to the users computer in a variety of formats."
                    <a href="http://vcell.org/vcell-published-models">Published VCell models</a>
                </li>
                <li>
                    The <a href="http://surf-hippo.neurophysics.eu/">Surf-Hippo</a> neuron simulator is a
                    public domain package written in Lisp for Unix workstations and PCs that is used to investigate
                    morphometrically and biophysically detailed compartmental models of single neurons and networks of neurons.
                    Surf-Hippo allows ready construction of cells and networks using built-in functions and various
                    anatomical file formats (NTS, Rodney Douglas, and Rocky Nevin formats, using a modified version of the
                    anatomy file conversion program ntscable by JC Wathey; Neurolucida).<br>
                </li>
                <li>
                    <a href="http://www.nest-initiative.org/"> NEST - The Neural Simulation Technology Initiative </a> is
                    a collaborative effort to advance simulation technology for large, biologically realistic networks of spiking neurons.
                    ... <br> The main goals of the collaboration are: 1) development of new simulation methods and algorithms, 2) development of
                    new analysis and visualization tools, as well as the 3) collection of information and resources related to neural simulations.
                    These goals are expressed in the joint development of a simulation system for biologically realistic neuronal networks.  This
                    groups software was previously called BLISS and SYNOD. <br>
                </li>
                <li>
                    <a href="https://sites.pitt.edu/~phase/bard/bardware/xpp/xpp.html"> XPP-Aut </a> X-windows phase
                    plane analysis program by Bard Ermentrout. Designed to solve dynamical systems problems that take
                    several different forms: (i) ordinary differential equations (ODEs); (ii)
                    delay differential equations (DDEs); (iii) differential-algebraic equations
                    (DAEs); (iv) Volterra integro-differential equations (IDEs); (v) discrete
                    dynamical systems (MAPs); (vi) boundary value problems (BVP).  Includes "locbif" (locate
                    bifurcations), a phase plane analysis tool.  Runs under Windows or Unix.<br>
                </li>
                <li>
                    <a href="https://github.com/emer">Emergent (Formally PDP++)</a> The PDP++ software is a
                    neural-network simulation system written in C++. It represents the next generation of the PDP software
                    originally released with the McClelland and Rumelhart "Explorations in Parallel Distributed Processing Handbook",
                    MIT Press, 1987.
                    It is easy enough for novice users, but very powerful and flexible for research use.
                </li>
                <li>
                    "<a href="http://briansimulator.org/">Brian</a> is a new simulator for spiking neural networks available on almost all platforms. The motivation for this project is that a simulator should not only save the time of processors, but also the time of scientists.
                    Brian is easy to learn and use, highly flexible and easily extensible. The Brian package itself and simulations using it are all written in the Python programming language, which is an easy, concise and highly developed language with many advanced features and development tools, excellent documentation and a large community of users providing support and extension packages. ..."
                </li>
                <li>
                    "<a href="https://qub.mandelics.com/">QUB</a> is a software package for Markov analysis of single-molecule kinetics, especially ion channel records.
                    With QuB's user-friendly graphical interfaces, you can
                    * simulate single-channel currents for any model
                    * calculate rate constants and voltage-dependence without fitting histograms
                    * detect current transitions in the presence of noise
                    * filter data, correct baseline, and select subintervals
                    * test all possible model topologies
                    * fit data to any function or system of ODEs
                    * (more...)"
        
                </li>
        
        
        
        
        
        
            </ul>
        
</div>
</div>
{% endblock %}
