{% extends "main.html" %}
{% load modeldb_filters %}

{% block head %}
<meta property="og:url" content="https://modeldb.science/findbycurrent"/>
<meta property="og:title" content="Browse by current"/>
<meta property="og:description" content="Browse our list of model currents."/>

<style>
.modellist>li {
    padding-top: 1em;
}
</style>
<!-- JSON solution via https://docs.djangoproject.com/en/5.1/ref/templates/builtins/ -->
{{ currents | json_script:"modeldb-currents" }}
<script>
    const currents = JSON.parse(document.getElementById('modeldb-currents').textContent);
    $(() => {
        $('#currenttable').bootstrapTable({
            pagination: false,
            search: true,
            data: currents,
            formatSearch: () => 'filter'
        })
    });

    let current_id_from_name = {};
    currents.forEach((current) => {
        current_id_from_name[current.name] = current.id;
    });

    function name_link(name) {
        return `<a href="/modellist/${current_id_from_name[name]}">${name}</a>`;
    }
    </script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <center><h3>Find models that contain a particular ionic current</h3>
        Click on an ionic current to show a list of models that contain or implement that current.</center>

        <table id="currenttable" data-toggle="currenttable">
            <thead>
                <tr>
                    <th data-sortable="true" data-field="ions">
                        Ions
                    </th>
                    <th data-sortable="true" data-field="name" data-formatter="name_link">
                        Name
                    </th>
                    <th data-sortable="false" data-field="description">
                        Description
                    </th>
                    <th data-sortable="false" data-field="function">
                        Function
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>
{% endblock %}