{% extends "main.html" %}

{% block content %}
<h2>
    How to&nbsp;Cite ModelDB
</h2>
<p><strong>When you use ModelDB to provide models</strong> from your publications you should include a statement in the text of your paper similar to one of the following examples:</p>
<p CLASS="indented">"Source code is available in ModelDB (McDougal et al. 2017) at https://modeldb.science/3454."</p>
<p CLASS="indented">"The ModelDB (McDougal et al. 2017) accession number for the Kv3.1 channel models reported in this paper is 3454."</p>
<p>
    <strong>If you use models from ModelDB</strong>, or information derived from those models, you should cite both ModelDB and the paper(s) that described the models. These papers appear under "reference(s):" in the model description page
    (ShowModel). Here is an example:
</p>
<p class="indented">(after citing the papers that the models came from) ... "These network models used in the present study were obtained from ModelDB (accession numbers 76883, 83514, and 83562)."</p>
<p><strong>To cite ModelDB</strong>, we suggest the following recent paper:</p>
<p class="indented">
    McDougal RA, Morse TM, Carnevale T, Marenco L, Wang R, Migliore M, Miller PL, Shepherd GM, Hines ML.
    <a href="https://doi.org/10.1007/s10827-016-0623-7">Twenty years of ModelDB and beyond: building essential modeling tools for the future of neuroscience.</a>
    <i>J Comput Neurosci</i>. 2017; 42(1):1-10.
</p>


<p>Thanks for your support!</p>
{% endblock %}
