{% extends "bigleftcol.html" %}
{% load static %}

{% block sidecolumn %}
    <div class="well" style="border: 1px solid lightgray; padding: 1em; border-radius:1em">
        <h4>ModelDB news</h4>
        {{ModelDB.news | safe}}
        <hr>
        For more, follow us <a href="https://twitter.com/ModelDB">@ModelDB</a>.
    </div>
{% endblock %}

{% block head %}
<meta property="og:url" content="https://modeldb.science"/>
<meta property="og:title" content="ModelDB Homepage"/>
<meta property="og:description" content="ModelDB provides an accessible location for storing and efficiently retrieving computational neuroscience models. Models in ModelDB can be coded in any language for any environment."/>
<meta name="twitter:label1" value="Models"/>
<meta name="twitter:data1" value="{{ModelDB.num_models}}"/>

<style>
    .big {
        font-size: 200%
    }
    .thin>li>a {
        padding: 5px 10px !important
    }
</style>
{% endblock %}

{% block leftcol %}
<div style="overflow-x:hidden; margin-bottom: 1em">
<!--<img src="{% static "/modeldb-banner.svg" %}" alt="ModelDB banner" title="ModelDB banner" style="height: 5em;" border="0" /> -->
</div>
<p>
    <b>ModelDB</b> 
    <!--is a former <a href="https://senselab.med.yale.edu">SenseLab</a> Project that -->
    provides an accessible location for storing and efficiently retrieving computational neuroscience models. 
    Models in ModelDB can be coded in any language for any environment. Model code can be viewed before downloading, and browsers can be set to auto-launch the models. For further information, see
    McDougal et al (2016), <a href="https://doi.org/10.1109/TBME.2016.2539602">Reproducibility in Computational Neuroscience Models and Simulations</a> and
    McDougal et al (2017), <a href="https://doi.org/10.1007/s10827-016-0623-7">Twenty years of ModelDB and beyond: building essential modeling tools for the future of neuroscience</a>.
</p>
<p style="margin-top: 2em"><a class="big" href="/submitmodel"><i class="fas fa-upload"></i> Upload</a> your model today.
</p>
<p><a class="big" href="/ListByModelName">Browse</a> all {{ModelDB.num_models}} models, or:</p>
<div class="row">
        <div class="col-6 col-sm-6">
                <b>Find models by:</b><br />
                <ul class="nav thin" style="display: block !important">
                    <li>
                        <a class="active" href="/modellist">Model name</a>
                    </li>
                    <!--<li>
                        <a href="/ListByFirstAuthor">First author</a>
                    </li>-->
                    <li>
                        <a href="/ListByAnyAuthor">Each author</a>
                    </li>
                    <li>
                        <a href="/implementers">Implementer</a>
                    </li>
                    <li>
                        <a href="/regions">Species or Region</a>
                    </li>
                </ul><br/>
                <b>Find models of:</b>
                <ul class="nav thin" style="display: block !important">
                    <li>
                        <a href="/modellist/3536">Realistic Networks</a>
                    </li>
                    <li>
                        <a href="/modellist/3537">Neurons</a>
                    </li>
                    <!-- <li>
                        <a href="/modellist/114107" title="electrical synapses">Electrical synapses (gap junctions)</a>
                    </li> -->
                    <li>
                        <a href="/modellist/3539" title="includes ligand-gated ion channels">Chemical synapses</a>
                    </li>
                    <li>
                        <a href="/modellist/3540" title="voltage-gated">Ion channels</a>
                    </li>
                    <li>
                        <a href="/modellist/22013">Neuromuscular&nbsp;junctions</a>
                    </li>
                    <li>
                        <a href="/modellist/3538">Axons</a>
                    </li>
                    <li>
                        <a href="/modellist/52404">Pathophysiology</a>
                    </li>
                </ul>
                            
                    </div>
        <div class="col-6 col-sm-6">
                <b>Find models for:</b>
                <ul class="nav thin" style="display: block !important">
                    <li>
                        <a href="/FindByRegionList">Cell type</a>
                    </li>
                    <li>
                        <a href="/FindByCurrent">Current</a>
                    </li>
                    <li>
                        <a href="/FindByReceptor">Receptor</a>
                    </li>
                    <li>
                        <a href="/FindByGeneList">Gene</a>
                    </li>
                    <li>
                        <a href="/FindByTransmitter">Transmitters</a>
                    </li>
                    <li>
                        <a href="/FindByConcept" title="Big-picture ideas that models address, e.g. synaptic plasticity, pattern recognition, etc.">Concept</a>
                    </li>
                    <li>
                        <a href="/FindBySimulator">Simulators</a>
                    </li>
                    <li>
                        <a href="/modellist/49304">Methods</a>
                    </li>
                </ul>
                <br/>
                <b>Other resources</b>
                <ul class="nav thin" style="display: block !important">
                    <li>
                        <a href="/mdbresources"> ModelDB related resources</a>
                    </li>
                    <li>
                        <a href="/eco"> Computational neuroscience ecosystem</a>
                    </li>
                    <li>
                        <a href="https://github.com/ModelDBRepository">Models in a git repository</a>
                    </li>
            
                </ul>
            
            
        </div>
      </div>
{% endblock %}
