{% extends "main.html" %}

{% block head %}
<style>
.modellist>li {
    padding-top: 1em;
}
</style>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div style="width:98%; margin: auto">
            <center><h3>ModelDB - Resources</h3></center>
            <ul>
                <li>
                    <h5>Simulators and Simulator Tools</h5>
                    <ul>
                        <li>
                            <a target="_blank" href="https://nrn.readthedocs.io">NEURON</a> for empirically-based simulations of neurons and networks of neurons.
                        </li>
                        <li>
                            <a target="_blank" href="http://www.genesis-sim.org/">GENESIS</a> GEneral NEural SImulation System developed at Caltech to provide a standard and flexible means of
                            constructing realistic simulations of biological neural systems.
                            <a href="http://moose.ncbs.res.in/">MOOSE</a> is the Multiscale Object-Oriented Simulation Environment.
                            It is the base and numerical core for large, detailed simulations including Computational Neuroscience and Systems Biology.
                            ... MOOSE spans the range from single molecules to subcellular networks, from single cells to neuronal networks, and to still
                            larger systems. it is backwards-compatible with GENESIS, and forward compatible with Python and XML-based model definition
                            standards like SBML and MorphML.
                        </li>
                        <li>
                            <a target="_blank" href="http://www.mcell.cnl.salk.edu/">MCell</a> makes it possible to incorporate high resolution ultrastructure into models of ligand diffusion and signaling, and
                            has evolved from experimental and theoretical work of the MCell group: Joel Stiles (Biomedical Applications, Pittsburgh Supercomputing Center),
                            Miriam Salpeter (Neurobiology &amp; Behavior, Cornell University), Edwin Salpeter (Department of Physics and Astronomy, Cornell University), and
                            Thomas Bartol and Terrence Sejnowski (Computational Neurobiology Laboratory, Salk Institute).<br>
                        </li>
                        <li>
                            <a target="_blank" href="//vcell.org/">Virtual Cell Environment</a>
                            ... "The user can build complex models with a web-based Java interface to specify compartmental topology and
                            geometry, molecular characteristics, and relevant interaction parameters. The Virtual Cell automatically
                            converts the biological description into a corresponding mathematical system of ordinary and/or partial
                            differential equations. Distinct biological and mathematical frameworks are encompassed within a single
                            graphical interface. The mathematic-savy user may directly specify the complete mathematical description
                            of the model, bypassing the schematic interface. The Virtual Cell will then solve the equations by
                            applying numerical solvers and generate appropriate software code to perform and analyze simulations.
                            Results can be displayed and analyzed on-line or downloaded to the users computer in a variety of formats."
                            There are almost <a href="https://vcell.org/vcell-published-models">200 published models</a> of chemical pathways.
                        </li>
                        <li>
                            The <a href="http://surf-hippo.neurophysics.eu/">Surf-Hippo</a> neuron simulator is a
                            public domain package written in Lisp for Unix workstations and PCs that is used to investigate
                            morphometrically and biophysically detailed compartmental models of single neurons and networks of neurons.
                            Surf-Hippo allows ready construction of cells and networks using built-in functions and various
                            anatomical file formats (NTS, Rodney Douglas, and Rocky Nevin formats, using a modified version of the
                            anatomy file conversion program ntscable by JC Wathey; Neurolucida).<br>
                        </li>
                        <li>
                            <a href="https://www.nest-initiative.org/"> NEST - The Neural Simulation Technology Initiative </a> is
                            a collaborative effort to advance simulation technology for large, biologically realistic networks of spiking neurons.
                            ... <br> The main goals of the collaboration are: 1) development of new simulation methods and algorithms, 2) development of
                            new analysis and visualization tools, as well as the 3) collection of information and resources related to neural simulations.
                            These goals are expressed in the joint development of a simulation system for biologically realistic neuronal networks.  This
                            groups software was previously called BLISS and SYNOD. <br>
                        </li>
                        <li>
                            <a href="https://sites.pitt.edu/~phase/bard/bardware/xpp/xpp.html"> XPP-Aut </a> X-windows phase
                            plane analysis program by Bard Ermentrout. Designed to solve dynamical systems problems that take
                            several different forms: (i) ordinary differential equations (ODEs); (ii)
                            delay differential equations (DDEs); (iii) differential-algebraic equations
                            (DAEs); (iv) Volterra integro-differential equations (IDEs); (v) discrete
                            dynamical systems (MAPs); (vi) boundary value problems (BVP).  Includes "locbif" (locate
                            bifurcations), a phase plane analysis tool.  Runs under Windows or Unix.<br>
                        </li>
                        <li>
                            <a href="http://mathlab.cit.cornell.edu/dyn_sys/dstool/dstool.html">DsTool</a> is a computer program for the interactive
                            investigation of dynamical systems on computers using unix and the X window system. The aims of the program
                            are described in an article entitled dstool: Computer Assisted Exploration of Dynamical Systems (Notices of
                            the American Mathemtical Society, 39, 303--309, 1992).
                            Originally written at Cornell by Mark Myers, Rick Wicklin
                            and Patrick Worfolk, it has been improved and modified by contributions from Allen Back and the staff of the
                            former Geometry Center at the University of Minneapolis. <br>
                        </li>
                        <li>
                            <a href="http://amath.colorado.edu/faculty/jdm/faq-[5].html#Heading43"> A list of dynamical system tools </a>
                            This comprehensive list is part of an interesting and informative <a href="http://amath.colorado.edu/faculty/jdm/faq.html"> nonlinear science FAQ (math) site </a> maintained by
                            <a href="http://amath.colorado.edu/faculty/jdm/"> James Meiss</a>. <br>
                        </li>
                        <li>
                            <a href="http://nerve.bsd.uchicago.edu/">Electrophysiology - Simulation programs </a>by
                            Fransisco (Pancho) Bezanilla. This page contain several simulation program&nbsp;
                            written as applets and can be run across the web.
                        </li>
                        <li>
                            <a href="https://computing.llnl.gov/projects/nsde">Nonlinear Solvers and Differential Equations (NSDE)</a> at
                            <a href="http://www.llnl.gov">Lawrence Livermore National Laboratory (LLNL)</a>.  This page (NSDE)
                            contains a
                            link to an excellent list of publications in numerical analysis that includes manuscript pdfs.
                        </li>
                        <li>
                            <a href="http://www.neuralsimulationlanguage.org/about.html"> NSL, Neural Simulation Language </a>, is a simulation system for
                            large-scale general neural networks.	NSL provides a simulation environment simplifying the
                            task of modeling neural networks. In particular, NSL supports neural models having as basic
                            data structure neural layers with similar properties and similar connection patterns, where
                            neurons are modeled as leaky integrators with connections subject to diverse learning rules.
                        </li>
                        <li>
                            <a href="http://sourceforge.net/projects/matcont/"> MATCONT </a> is a graphical MATLAB package for the
                            interactive numerical study of dynamical systems.  It is developed in parallel with the command line continuation toolbox
                            CL_MATCONT. Both MATCONT and CL_MATCONT allow to compute curves of equilibria, limit points, Hopf points, limit cycles and
                            bifurcation points of limit cycles. See <a href="https://doi.org/10.1145/779359.779362">
                                A. DHOOGE, W. GOVAERTS, YU. A. KUZNETSOV. MATCONT: A MATLAB package for numerical bifurcation analysis of ODEs A.
                                ACM Transactions on Mathematical Software, Vol. 29, No. 2, June 2003, Pages 141-164.
                            </a> for an introduction and
                            brief software survey.
                        </li>
                        <li>
                            <a href="https://www.emersim.org/">Emergent</a> (formerly PDP++) is a
                            neural-network simulation system written in Go. It represents the next generation of the PDP software
                            originally released with the McClelland and Rumelhart "Explorations in Parallel Distributed Processing Handbook",
                            MIT Press, 1987.
                            It is easy enough for novice users, but very powerful and flexible for research use.
                        </li>
        
                        <!--<li>
                            <a href="//senselab.med.yale.edu/simtooldb/">SimToolDB</a>
                            provides an accessible location for storing and efficiently retrieving tools which aid
                            simulations of neuronal and network compartmental models
                        </li> -->
        
                        <li>
                            <a href="http://www.st-andrews.ac.uk/~wjh/spikeshaper">SpikeShaper</a>
                            is a new simple tool for exploring Hodgkin-Huxley models recently published in
                            <a href="http://dx.doi.org/10.1007/s12021-007-9002-x">Neuroinformatics</a>
                        </li>
                        <li>
                            "<a href="https://briansimulator.org/">Brian</a> is a simulator for spiking neural networks available on almost all platforms. The motivation for this project is that a simulator should not only save the time of processors, but also the time of scientists.
                            Brian is easy to learn and use, highly flexible and easily extensible. The Brian package itself and simulations using it are all written in the Python programming language, which is an easy, concise and highly developed language with many advanced features and development tools, excellent documentation and a large community of users providing support and extension packages. ..."
                        </li>
                        <li>
                            "<a href="https://qub.mandelics.com/">QUB</a> is a software package for Markov analysis of single-molecule kinetics, especially ion channel records.
                            With QuB's user-friendly graphical interfaces, you can
                            <ul>
                                <li>simulate single-channel currents for any model</li>
                                <li>calculate rate constants and voltage-dependence without fitting histograms</li>
                                <li>detect current transitions in the presence of noise</li>
                                <li>filter data, correct baseline, and select subintervals</li>
                                <li>test all possible model topologies</li>
                                <li>fit data to any function or system of ODEs</li>
                                <li>(more...)</li>
                            </ul>        
                        </li>
                    </ul>
                </li>
                <li>
                    <h5>Morphology Modeling</h5>
                    <ul>
                        <li>
                            <a href="https://neuromorpho.org/">NeuroMorpho.org</a> is a centrally curated inventory of  digitally reconstructed neurons.
                            NeuroMorpho.Org contains contributions from over two-dozen labs and is continuously updated as new morphological reconstructions are
                            collected, published, and shared, with the goal of densely covering all available data.
                        </li>
                        <li>
                            <a target="_blank" href="https://krasnow1.gmu.edu/cn3/L-Neuron/index.htm">L-NEURON</a> A modeling tool for the efficient
                            generation and parsimonious description of dendritic morphology.
                        </li>
                        <li>
                            <a href="https://www.treestoolbox.org/" target="_blank">TREES toolbox</a> analyzes neuronal morphologies and can generate synthetic morphologies.
                        </li>
                    </ul>
                </li>
                <li>
                    <h5>HBP Links</h5>
                    <ul>
                        <li>
                            The <a href=https://www.cellimagelibrary.org/home">Cell Image Library</a> (formerly cell centered database CCDB) was created to house the types of high
                            resolution 3D light and electron microscopic reconstructions produced at the <a href="http://ncmir.ucsd.edu">
                                National Center for Microscopy and Imaging
                                Research
                            </a>. It contains structural and protein distribution information
                            derived from confocal, multiphoton and electron microscopy, including correlated
                            microscopy. Many of the data sets are derived from electron tomography.
                            Electron tomography is similar in concept to medical imaging techniques like CAT
                            scans and MRI in that it derives a 3D volume from a series of 2D projections
                            through a structure. In this case, the structures are contained in sections
                            prepared for electron microscopy which are tilted through a limited angular
                            range. Many of the data sets in the CCDB come from studies of the nervous
                            system, although the CCDB is not restricted to neuronal information.
                        </li>
        
                        <li>
                            <a href="https://www.neuroml.org">NeuroML</a> is an emerging declarative standard for
                            representing computational neuroscience models.
                        </li>
        
                        <li>
                            <a href="httpw://www.genesis-sim.org/hbp">
                                The GENESIS Neural Database and Modeler's Workspace
                            </a>
                            Project Vision: Develop an easy-to-use tool for computational
                            neuroscientists that facilitates the following tasks: creating, editing and
                            visualizing models and other objects; interacting with neuronal databases;
                            interacting with simulation systems such as GENESIS; and collaborating with
                            other modelers using simultaneous shared editing and visualization.
                        </li>
                        <li>
                            <a target="_blank" href="http://www.cellml.org/examples/repository/index.html">CellML</a>
                            supports both
                            quantitative and qualitative pathway models. The CellML 1.0
                            Specification defines any model which defines the change in the concentration of
                            a chemical species involved in a reaction, as a quantitative pathway model. Here
                            we adapt that definition to include both pathway and electrophysiological
                            models.  CellML has plans to build a simulator to execute CellML models which are now just
                            a specification.
        
        
                    </li></ul>
                </li>
                <li>
                    <h5>Databases of Neuroscience Databases and Lists of Databases</h5>
        
                    <ul>
                        <li>
                            <a href="http://neuinfo.org">Neuroscience Information Framework</a>
                            "The Neuroscience Information Framework is a dynamic inventory of Web-based neuroscience
                            resources: data, materials, and tools accessible via any computer connected to the
                            Internet. An initiative of the NIH Blueprint for Neuroscience Research, NIF advances
                            neuroscience research by enabling discovery and access to public research data and
                            tools worldwide through an open source, networked environment."
                        </li>
                        <li>
                            The <a href="http://projectreporter.nih.gov/" title="http://projectreporter.nih.gov/">
                                RePORT Expenditures and
                                Results (RePORTER)
                            </a> query tool. This tool provides search fields, hit lists
                            that can be sorted and downloaded to Excel, NIH funding for each
                            project (expenditures), and publications and patents that have
                            acknowledged support from each project (results).&nbsp; RePORTER also
                            provides links to <a href="http://www.pubmedcentral.nih.gov/" title="http://www.pubmedcentral.nih.gov/ PubMed Central">PubMed Central</a>,
                            <a href="http://www.ncbi.nlm.nih.gov/pubmed" title="http://www.ncbi.nlm.nih.gov/pubmed PubMed">PubMed</a>, and the <a href="http://patft.uspto.gov/" title="http://patft.uspto.gov/ US Patent &amp; Trademark Office Patent Full  Text and Image Database">
                                US
                                Patent &amp; Trademark Office Patent Full Text and Image Database
                            </a>
                            for more information on research results.&nbsp; <br>
                            <a href="http://projectreporter.nih.gov/" title="http://projectreporter.nih.gov/ Begin  using RePORTER"><strong></strong></a>
                        </li>
                        <li>
                            NSF's grant search tool:<a href="http://www.nsf.gov/awardsearch/" title="Award Search">NSF Award Search: Simple Search</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <h5>Computational neuroscience and related laboratory lists</h5>
                    <ul>
                        <li>
                            <a href="http://neuromuscular.wustl.edu/mother/chan.html">http://neuromuscular.wustl.edu/mother/chan.html</a>
                            ION CHANNELS, TRANSMITTERS, RECEPTORS &amp; DISEASE
                            at the Neuromuscular Disease Center site, Washington University, St. Louis, MO
                        </li>
                        <li><a href="https://compneuroweb.com/"> Jim Perlewitz's list </a></li>
                        <li>
                            <a href="https://www.neuron.yale.edu/forum"> The NEURON Forum </a> is designed to facilitate the exchange of
                            information about NEURON and foster the productive use of computational modeling in neuroscience in general.
                        </li>
                    </ul>
                </li>
                <p></p>
                <li>
                    <h5>Electronic Library</h5>
                    <ul>
                        <li><a href="//pubmed.gov">Pubmed</a></li>
                        <li><a href="https://www.springer.com/journal/12021">Neuroinformatics Journal</a></li>
                        <li><a href="https://www.frontiersin.org/journals/neuroinformatics">Frontiers in Neuroinformatics</a></li>
                    </ul>
                </li>
                <p></p>
                <li>
                    <h5>Miscellaneous</h5>
                    <ul>
                        <li>
                            The <a href="http://www.guidetopharmacology.org/">IUPHAR</a> ION CHANNEL COMPENDIUM.
                            The International Union of Basic and Clinical Pharmacology has sponsored database which tabulates gene names with
                            the function and expression of ion channels and receptors.  This database is an invaluable aid for remembering the myrid names
                            and facts associated with ion channels and is highly recommended.
                        </li>
                        <li>For a full inventory of ion channels, see <a href="https://channelpedia.net">Channelpedia</a>.</li>
                        <li><a href="http://www.scholarpedia.org/article/Model_Sharing_in_Computational_Neuroscience"> A Scholarpedia article "Model Sharing in Computational Neuroscience" by Tom Morse </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}