{% extends "bigleftcol.html" %}
{% block head %}
<style>
    .modellist>li {
        padding-top: 1em;
    }
</style>
{% endblock %}
{% block header %}
    {% if kind == "model" %}
        <h1>Models based on a paper by {{author}}</h1>
    {% else %}
        <h1>Models based on a first-author paper by {{author}}</h1>
    {% endif %}
{% endblock %}
{% block leftcol %}
    <ol class="modellist">
        {% for model in models %}
            <li><a href="/{{model.id}}">{{model.name}}</a></li>
        {% endfor %}
    </ol>
{% endblock %}
{% block sidecolumn %}
    <!--
    {% if kind == "model" and num_first_author %}
        <a href="/firstauthor/{{author}}">{{num_first_author}} first author models</a>
        <br><br>
    {% endif %}
    {% if kind == "first" %}
        <a href="/modelauthor/{{author}}">{{num_author}} total models by {{author}}</a>
        <br><br>
    {% endif %}
    -->
    {% if coauthors %}
        <b>{{author}}'s top model coauthors:</b><br>
        <ul>
            {% for coauthor in coauthors %}
                <li><a href="/modelauthor/{{coauthor.0}}">{{coauthor.0}}</a> ({{coauthor.1}})</li>
            {% endfor %}
        </ul>
        <br>
    {% endif %}
    {% if concepts %}
        <b>{{author}}'s top modeled concepts:</b><br>
        <ul>
            {% for concept in concepts %}
                <li><a href="/modellist?id={{concept.0}}">{{concept.1}}</a> ({{concept.2}})</li>
            {% endfor %}
        </ul>
        <br>
    {% endif %}
    {% if neurons %}
        <b>{{author}}'s top modeled neurons:</b><br>
        <ul>
            {% for item in neurons %}
                <li><a href="/modellist?id={{item.0}}">{{item.1}}</a> ({{item.2}})</li>
            {% endfor %}
        </ul>
        <br>
    {% endif %}

{% endblock %}