{% extends "bigleftcol.html" %}

{% block head %}
<style>
.modellist>li {
    padding-top: 1em;
}
.hangingindent {
    text-indent: -2em;
    padding-left: 3em;
}
</style>
{% endblock %}

{% block header %}
<h3>{{ obj.classname }}: {{ obj.name }}</h3>
{% if obj.description %}
    ({{ obj.description }})
{% endif %}
{% endblock %}

{% block leftcol %}
<div class="row">
        <div class="col-lg-12">
<h4>Models:</h4>

<ol class="modellist">
    {% for model in obj.models %}
        <li><a href="/showmodel?model={{model.id}}">{{model.name}}</a></li>
    {% endfor %}
</ol>
</div>
</div>
{% endblock %}

{% block sidecolumn %}
    {% if obj.class_id == 18 %}
        {% if obj.picture is not None %}
            <div>
                <center>
                    <img src="data:image/png;base64, {{obj.picture}}" style="max-width:100%"/>
                </center>
            </div>
        {% endif %}
        {% if obj.links %}
            <div class = "well">
                <b>External resources:</b><br><br>
                {% for data in obj.links.items %}
                    {% if data.0 == 'neuroelectro' %}
                        <a href="https://neuroelectro.org/neuron/{{data.1}}/">NeuroElectro</a><br>
                    {% endif %}
                    {% if data.0 == 'neuromorpho' %}
                        <a href='http://neuromorpho.org/MetaDataResult.jsp?summary={{data.1|safe}}''>NeuroMorpho.Org</a><br>
                    {% endif %}
                    {% if data.0 == 'neurolex' %}
                        <a href="http://uri.neuinfo.org/nif/nifstd/{{data.1}}">NeuroLex/Interlex</a><br>
                    {% endif %}
                {% endfor %}
            </div>
            <br>
        {% endif %}
    {% endif %}
    {% if moreinfo or homepage or logo %}
        <div class="well">
            {% if logo %}
                <center>
                    <img src="data:{{logo.file_mime}};base64, {{logo.file_content}}" style="max-width:100%"/>
                </center>
            {% endif %}
            {% if homepage %}
                <center>
                    <a href="{{homepage}}">Website</a>
                </center>
                <br>
            {% endif %}
            {{moreinfo}}
        </div>
    {% endif %}
    {% if authors %}
        <div>
            Top authors for {{ obj.name.lower }}:
            <ul>
                {% for author in authors %}
                    <li><a href="/modelauthor/{{author.0}}">{{author.0}}</a> ({{author.1}})</li>
                {% endfor %}
            </ul>
            <br>
        </div>
    {% endif %}
    {% if seealso %}
        <div class="well hangingindent">
            <b>See also:</b><br><br>
            {% for data in seealso.items %}
                <p><a href="{{data.1}}">{{data.0}}</a></p>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}