{% extends "main.html" %}
{% block head %}
<style>
    h2.ppsection {
        margin-top: 1em;
    }
</style>
{% endblock %}
{% block content %}
<h1>ModelDB Privacy Policy</h1>

<h2 class="ppsection">What data do we collect?</h2>
<ul>
    <li>As you browse, we may record pages that are visited, searches that are made, and files that are downloaded. This
        information, if collected, is stored only in aggregate and not associated with your personal information.</li>
    <li>If you create an account, we will record your name, email address, and a hashed version of your password.</li>
    <li>If you upload a model, we will record your name, email address, model code, and model metadata.</li>
    <li>If you email us, we will have a copy of your email, including your name and email address.</li>
    <li>If you post a GitHub issue or pull request, we will receive the posted message and your user name.</li>
    <li>We may from time-to-time, link to a voluntary survey. Any data entered into such a form is collected.</li>
</ul>
<h2 class="ppsection">How do we collect your data?</h2>
You directly provide ModelDB with the data we collect when you:
<ul>
    <li>Search or browse the website.</li>
    <li>Email us.</li>
    <li>Submit models.</li>
    <li>Fill out a voluntary survey.</li>
    <li>Post an issue or pull request on GitHub.</li>
</ul>
<h2 class="ppsection">How will we use your data?</h2>
<ul>
    <li>Submitted model code and metadata will be used to enable model sharing and model discovery on ModelDB, and may
        be transferred to our GitHub site for a third-party backup. In particular, please note that once a model has
        been made public, its code and metadata are public and may be downloaded by researchers and others from around
        the world.</li>
    <li>We may use model code and metadata for meta-analyses of the computational neuroscience field. This includes, but
        is not limited to: detecting emerging trends, building classifiers, inferring biology, and identifying reuse.
    </li>
    <li>Names and email addresses will be used to communicate about model submissions.</li>
    <li>Survey data and GitHub posts may be used to identify new features for development, ways to improve the website
        and/or data curation. This information may be shared in anonymized format with funding organizations to
        establish community demand.</li>
    <li>Aggregate usage data may be used to establish community support for ModelDB with funding organizations.</li>
</ul>
<h2 class="ppsection">Where is my data stored?</h2>
<p>ModelDB currently stores data on servers located in the United States.</p>
<p>
    Please note that most ModelDB models and some metadata is also synced to GitHub.
</p>

<h2 class="ppsection">What are my data rights?</h2>
Your exact data rights vary by jurisdiction, but include:
<ul>
    <li>The right to rectification - You have the right to request that ModelDB correct or complete information about
        you that you believe is inaccurate or incomplete.</li>
    <li>The right to erasure - (For EU citizens and some others) You have the right to request ModelDB erase your
        personal data, under certain conditions. For ModelDB, this includes name, email address, ModelDB account, and
        private models.</li>
</ul>
To make such a request, email us at <a href="mailto:curator@modeldb.science">curator@modeldb.science</a>.

<h2 class="ppsection">
    Cookies
</h2>
<p>Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior
    information. When you visit ModelDB, we may collect information from you automatically through cookies or similar
    technology.
</p>

<p>There are many online resources available to learn about cookies, including <a
        href="https://allaboutcookies.org">allaboutcookies.org</a> and <a
        href="https://en.wikipedia.org/wiki/HTTP_cookie">Wikipedia</a>.</p>

<h2 class="ppsection">
    How do we use cookies?
</h2>
We use cookies to improve your experience on the website, including:
<ul>
    <li>Keeping you signed in.</li>
    <li>Monitoring if you've interacted with the cookie notice.</li>
    <li>Understanding how you use our website.</li>
</ul>

<h2 class="ppsection">
    What type of cookies do we use?
</h2>
We use only essential cookies for maintaining the integrity of your session (including, but not limited to keeping you
logged in), and for website security by reducing the risk of cross-site request forgeries.
<h2 class="ppsection">
    How to manage cookies
</h2>
<p>
    You can set your browser to not accept cookies, although in a few cases, some of our website features may not
    function as a result.
</p>
<p>As explained at e.g., <a
        href="https://allaboutcookies.org/how-to-clear-cookies">allaboutcookies.org/how-to-clear-cookies</a>, you can
    clear all cookies from your browser. You may also perform more-targeted tasks to clear specific cookies from your
    browser or to view the cookies that are set.
</p>

<h2 class="ppsection">
    Cookies on other websites
</h2>
ModelDB links to many other websites. We have no control over how they process data. It is always a good idea to read
each website's privacy policy.
<h2 class="ppsection">
    Changes to our privacy policy
</h2>
Any updates to our privacy policy will appear on this web page. This privacy policy was last updated on 4 June 2023.
<h2 class="ppsection">How to contact us</h2>
If you have any questions about ModelDB's privacy policy, the data we have about you, or if you would like to exercise
one of your data protection rights, please do not hesitate to contact us at <a
    href="mailto:curator@modeldb.science">curator@modeldb.science</a>.
{% endblock %}