{% extends "main.html" %}

{% block content %}
<p>
    Congratulations on creating <a href="/{{accession_number}}">Model {{accession_number}}</a>.
    Please note that models are <i>private</i> by default. To make this model public, go to the
    model page using your read-write access code and select the "make public" option. It will then
    be reviewed by a curator who may or may not contact you before making the model public.
</p>
<p>
    In the meantime, you may access this model using either the read-write access code (to make
    changes) or the read access code. Feel free to share the read access code with your paper
    reviewers if you are uploading prior to publication.
</p>

{% endblock %}