{% extends "main.html" %}

{% block head %}
<style>
    .description {
        font-style: italic;
    }
</style>
<script>
$(() => {
    $('#papertable').bootstrapTable({
        pagination: true,
        search: true,
        data: {{ datajson | safe}},
        formatSearch: () => 'filter'
    })
});
</script>
{% endblock %}
{% block header %}
    <h1>
        Papers that obtained or contributed code in ModelDB
    </h1>
    <p class="description">
        These papers state (in text) they used or contributed code to ModelDB or both
        or they mention ModelDB in a neuroinformatics infrastructure context.
    </p>
{% endblock %}
{% block content %}
    <table id="papertable" data-toggle="papertable">
        <thead>
            <tr>
                <th data-sortable="true" data-field="p">Paper</th>
                <th data-sortable="true" data-field="u">Usage</th>
            </tr>
        </thead>
    </table>
{% endblock %}

