{% extends "biggerrightcol.html" %}

{% block head %}
<style>
.search_result {
    padding-top: 1em;
}
</style>
{% endblock %}

{% block header %}
<center>
    <h1>Search results</h1>
</center>
{% endblock %}

{% block sidecolumn %}
    <div class="well">
        <p>
            <b>Searched for:</b><br>
            {{query}}
        </p>

        {% if model_accession_matches or model_results or paper_results or celltype_results or author_results or simenvironment_results or current_results or region_results or receptor_results or gene_results or transmitter_results %}
            {% if model_accession_matches %}
                <a href="#model_accession">Model ID match</a><br><br>
            {% endif %}
            {% if author_results %}
                <a href="#authors">Model authors</a><br><br>
            {% endif %}
            {% if region_results %}
                <a href="#region">Brain region/organism</a><br><br>
            {% endif %}
            {% if celltype_results %}
                <a href="#celltypes">Cell Types</a><br><br>
            {% endif %}
            {% if current_results %}
                <a href="#currents">Currents</a><br><br>
            {% endif %}
            {% if transmitter_results %}
                <a href="#transmitters">Transmitters</a><br><br>
            {% endif %}
            {% if receptor_results %}
                <a href="#receptors">Receptors</a><br><br>
            {% endif %}
            {% if gene_results %}
                <a href="#genes">Genes</a><br><br>
            {% endif %}
            {% if concept_results %}
                <a href="#concepts">Concepts</a><br><br>
            {% endif %}
            {% if simenvironment_results %}
                <a href="#simenvironments">Simulation Environments</a><br><br>
            {% endif %}
            {% if model_results %}
                <a href="#models">Model titles</a><br><br>
            {% endif %}
            {% if paper_results %}
                <a href="#papers">Papers</a><br><br>
            {% endif %}
        {% else %}
            No results.
        {% endif %}
    </div>
{% endblock %}


{% block maincol %}
<div class="row">
        <div class="col-lg-12">
{% if author_results %}
    <h2 id="authors">Model Authors</h2>
    {% for author in author_results %}
        <div class="search_result">
            <a href="/modelauthor/{{author}}">{{author}}</a>
        </div>
    {% endfor %}
    <br>
{% endif %}
{% if region_results %}
    <h2 id="regions">Brain Region/Organisms</h2>
    {% for item in region_results %}
        <div class="search_result">
            <a href="/modellist/{{item.id}}">{{item.name}}</a>
        </div>
    {% endfor %}
    <br>
{% endif %}

{% if celltype_results %}
    <h2 id="celltypes">Cell Types</h2>
    {% for celltype in celltype_results %}
        <div class="search_result">
            <a href="/modellist/{{celltype.id}}">{{celltype.name}}</a>
        </div>
    {% endfor %}
    <br>
{% endif %}
{% if current_results %}
    <h2 id="currents">Currents</h2>
    {% for item in current_results %}
        <div class="search_result">
            <a href="/modellist/{{item.id}}">{{item.name}}</a>
        </div>
    {% endfor %}
    <br>
{% endif %}
{% if transmitter_results %}
    <h2 id="transmitters">Transmitters</h2>
    {% for item in transmitter_results %}
        <div class="search_result">
            <a href="/modellist/{{item.id}}">{{item.name}}</a>
        </div>
    {% endfor %}
    <br>
{% endif %}
{% if receptor_results %}
    <h2 id="receptors">Receptors</h2>
    {% for item in receptor_results %}
        <div class="search_result">
            <a href="/modellist/{{item.id}}">{{item.name}}</a>
        </div>
    {% endfor %}
    <br>
{% endif %}
{% if gene_results %}
    <h2 id="genes">Genes</h2>
    {% for item in gene_results %}
        <div class="search_result">
            <a href="/modellist/{{item.id}}">{{item.name}}</a>
        </div>
    {% endfor %}
    <br>
{% endif %}
{% if concept_results %}
    <h2 id="concepts">Concepts</h2>
    {% for item in concept_results %}
        <div class="search_result">
            <a href="/modellist/{{item.id}}">{{item.name}}</a>
        </div>
    {% endfor %}
    <br>
{% endif %}
{% if simenvironment_results %}
    <h2 id="simenvironments">Simulation Environments</h2>
    {% for item in simenvironment_results %}
        <div class="search_result">
            <a href="/modellist/{{item.id}}">{{item.name}}</a>
        </div>
    {% endfor %}
    <br>
{% endif %}
{% if model_accession_matches %}
<h2 id="model_accession">Model ID match</h2>
{% for model in model_accession_matches %}
    <div class="search_result">
        <a href="/{{model.id}}">{{model.name}}</a>
    </div>
{% endfor %}
<br>
{% endif %}
{% if model_results %}
    <h2 id="models">Model titles</h2>
    {% for model in model_results %}
        <div class="search_result">
            <a href="/{{model.id}}">{{model.name}}</a>
        </div>
    {% endfor %}
    <br>
{% endif %}
{% if paper_results %}
    <h2 id="papers">Papers</h2>
    {% for paper in paper_results %}
        <div class="search_result">
            {{paper.html | safe}}
        </div>
    {% endfor %}
    <br>
{% endif %}
{% endblock %}