{% extends "main.html" %}
{% load static %}



{% block content %}
    <h3>Private model login</h3><br>
    {% if msg %}
        <div class="row entryrow" style="background-color:pink">
            <div class="col-12 explanation">
                {{msg}}
            </div>
        </div>
    {% endif %}
    <div class="row entryrow">
        <div class="col-12 explanation">
            To access this private model, please provide an access code (either read-write or read):
        </div>
    </div>

    <form action="/{{model}}" method="post">
        {% csrf_token %}
        Access code: <input type="password" name="access_code" />
        <input type="hidden" name="tab" value="{{tab_id}}"/>
        <input type="hidden" name="model" value="{{model}}"/>
        <input type="submit" value="Login"/>
    </form>
    <br>
    <br>
    You may also request to <a href="/rwac-reset/{{model}}">reset your read-write access code</a>. 
    <br>
    <br>
    <div style="font-size:smaller; font-style:italic">
        Logging in requires cookies to be enabled. Information will be stored on the server indicating that your session has permission to access this model.
    </div>
{% endblock %}