{% extends "bigleftcol.html" %}
{% load static %}
{% block head %}




    <style>
        .indented {
            margin-left: 2em;
        }
        .btn2 {
            color: black !important;
            background-color: lightblue !important;
        }
        .btn2:hover {
            color: white !important;
            background-color: blue !important;
        }
        .btn3:hover {
            color: black !important;
            background-color: blue !important;
        }
        .thin>li>a {
            padding: 5px 10px !important
        }
    </style>
    {% if access == "rw" %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    {% endif %}

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
    <script src='{% static "three.js" %}'></script>
    <script src='{% static "plotshape.js" %}'></script>
    <script src='{% static "MeshLines.js" %}'></script>
    <script src='{% static "ThreeContainer.js" %}'></script>
    <!--is manage.py the server code? we will see-->

    <script>
        var _shape_plots = [];
        
        $.getJSON(`/api/v1/morphology/{{Model.id}}`, function(data) {
            $('#shapeplotcontainer').show();
            //var parsed = JSON.parse(data)
            //console.log(parsed)
            //so you don't need to parse it if you're ajax querying it?
       
            $(function() {
                _shape_plots = [new ShapePlot($("#shapeplot"))];

                var max_dist = 350;
                set_neuron_section_data([data, max_dist]);
                
                // TODO: in principle the toggle_color click function colorizes based
                //       on the values of vdata
                // vdata = [...];
                
                $("#toggle_diam").click(function() {
                    $('#shapeplot').attr('data-mode', 1 - $('#shapeplot').attr('data-mode')); 
                    _shape_plots[0].force_update();
                });

                $("#toggle_color").click(function() {
                    var color_b = new THREE.Color( 0x000000 );
                    var color_r = new THREE.Color( 0x0000ff );
                    var min = Math.min.apply(Math, vdata);
                    var max = Math.max.apply(Math, vdata);
                    var i;
                    for (i = 0; i < 500; i++) {
                        let line = _shape_plots[0].tc.lines[i]; 
                        meshcolor = line.material.color;
                        meshcolor.set(color_b);
                    }
                });
            });

        });
    </script>
{% endblock %}

{% block header %}
  {% include "showmodel-tabs.html" %}
{% endblock %}

{% block sidecolumn %}
<div class="well">
    {% if not Model.data_to_curate and not tab == 2 %}
        {% if tab != 4 or data.by_location %}
            <div id="shapeplotcontainer" style="display:none">
                <div id="shapeplot" data-mode='1' class="mw-100 mh-100" style="width:600px; height: 400px; border: 2px rgb(31, 44, 44) solid">
                </div>
                <div align="center">
                    <button class="btn" id="toggle_diam" type="button">Show Diameter</button>
                </div>
            </div>
        {% endif %}
    {% endif %}
    {% if Model.data_to_curate %}
        <a href="/forget_access?model={{Model.id}}" class="btn btn2">Forget access</a>
    {% endif %}
    <div>
        {% block belowshapeplot %}
        {% endblock %}
    </div>
</div>

{% endblock %}
