<h1 style="text-align:center">
{% if access == 'rw' %}
  <input name = "edit_model_name" id = "edit_model_name" style="text-align:center" placeholder="{{Model.name}}" value="{{Model.name}}">
{% else %}
  {{Model.name}}
{% endif %}
    {% if access == 'rw' %}
      <sup><button id="edit_model_name" title="Edit model name"><i class="fas fa-edit" aria-hidden="true"></i></button></sup>
    {% endif %}
    {% if show_tab_2 %}
      <a href="/download/{{Model.id2}}"><i title="Download zip" class="fas fa-download"></i></a>
    {% endif %}
    {% if access == 'rw' %}
      <button id="edit_model_zip" title="Upload new zip"><i class="fas fa-upload" aria-hidden="true"></i></button>
    {% endif %}
  </input>

</h1>
<br/>

<ul class="nav nav-tabs green" role="tablist">
  <li class="nav-item">
    <a href="?tab=1" class="nav-link {% if tab == 1 %} active {% endif %}" role="tab" aria-expanded="true" aria-selected="true">Overview</a>
  </li>
  {% if show_tab_2 %}
    <li class="nav-item">
        <a href="?tab=2" class="nav-link {% if tab == 2 %} active {% endif %}" role="tab"  aria-expanded="false" aria-selected="false">Files</a>
    </li>
  {% endif %}
  {% if not Model.data_to_curate %}
    {% if Model.modelviews %}
      <li class="nav-item">
        <a href="?tab=3" class="nav-link {% if tab == 3 %} active {% endif %}" role="tab" aria-expanded="false" aria-selected="false">ModelView</a>
      </li>
    {% endif %}
    <li class="nav-item dropdown">
    {% if is_xpp %}
      </li><li class="nav-item">
        <a href="?tab=4" class="nav-link {% if tab == 4 %} active {% endif %}" role="tab" aria-expanded="false" aria-selected="false">Parameters</a>
      </li>
    {% endif %}
  {% endif %}
  <li class="nav-item">
      <a href="?tab=7" class="nav-link {% if tab == 7 %} active {% endif %}" role="tab" aria-expanded="false" aria-selected="false">Citations</a>
  </li>    
</ul>