{% extends "showmodel-base.html" %}

{% block leftcol %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li class="breadcrumb-item {% if forloop.last %}active" aria-current="page{% endif %}">{{breadcrumb | safe}}</li>
        {% endfor %}
        {% if not is_folder %}
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <a class="btn" style="margin-top: -7px" href="/getModelFile?model={{Model.id}}&file={{filename}}"><i class="fas fa-file-download" title="Download file"></i></a>
            </div>
        {% else %}
            <li/>
        {% endif %}
    </ol>
</nav>
{% if is_folder %}
    <hr/>
    <ul class="nav thin" style="display: block !important;">
        {% for item in content %}
            {% if item.name %}
                <li style="padding-bottom: 0.5em"><a href="/showmodel?tab=2&model={{Model.id}}&file={{filename}}/{{item.name}}">
                    {% if item.type == 'jpg' or item.type == 'pdf' or item.type == 'gif' %}
                        <i class="fas fa-file-image"></i>
                    {% elif item.type == 'folder' %}
                        <i class="fas fa-folder"></i>
                    {% elif item.type == 'py' %}
                        <i class="fab fa-python"></i>
                    {% elif item.type == 'js' %}
                        <i class="fab fa-js"></i>
                    {% elif item.type == 'hoc' or item.type == 'mod' or item.type == 'cpp' or item.type == 'h' %}
                        <i class="far fa-file-code"></i>
                    {% else %}
                        <i class="fas fa-file"></i>
                    {% endif %}
                    &nbsp; {{item.name}}
                </a></li>
            {% endif %}
        {% endfor %}
    </ul>
{% else %}
    {% if extension == 'jpg' or extension == 'jpeg' or extension == 'gif' or extension == 'png' or extension == 'bmp' %}
        <img src="/getModelFile?model={{Model.id}}&file={{filename}}"></img>
    {% else %}
        <!-- iframe height solution adapted from https://stackoverflow.com/questions/819416/adjust-width-and-height-of-iframe-to-fit-with-content-in-it -->
        <!-- TODO: replace with something that handles window resizes -->
        <iframe src="/getModelFile?model={{Model.id}}&file={{filename}}&embed=True" onload='javascript:(function(o){o.style.height=(64+o.contentWindow.document.body.scrollHeight)+"px";}(this));' style="height:200px;width:100%;border:none;overflow:hidden;"></iframe>
    {% endif %}
{% endif %}


{% endblock %}

{% block belowshapeplot %}
{% if not is_folder %}
    Reused in ??? other models. (expand)<br><br>
    {% if is_mod_file %}
        {% if has_celsius %}
            This mechanism is potentially temperature dependent.
        {% else %}
            This mechanism is not temperature dependent.
        {% endif %}
        <br><br>
        {% if not Model.data_to_curate %}
            Ion Channel Genealogy entry.
        {% endif %}
    {% endif %}
{% endif %}
{% endblock %}