<h3 style="text-align:center">{{Model.name}} 
  {% if access == 'rw' %}
    <sup><button id="edit_model_name" title="Edit model name"><i class="fas fa-edit" aria-hidden="true"></i></button></sup>
  {% endif %}
  <a href="/eavBinDown?o={{Model.id}}"><i title="Download zip" class="fas fa-download"></i></a>
  {% if access == 'rw' %}
    <button id="edit_model_zip" title="Upload new zip"><i class="fas fa-upload" aria-hidden="true"></i></button>
  {% endif %}
</h3><br/>

<ul class="nav nav-tabs green" role="tablist">
  <li class="nav-item">
    <a href="?model={{Model.id}}&tab=1" class="nav-link {% if tab == 1 %} active {% endif %}" role="tab" aria-expanded="true" aria-selected="true">Overview</a>
  </li>
  <li class="nav-item">
      <a href="?model={{Model.id}}&tab=2" class="nav-link {% if tab == 2 %} active {% endif %}" role="tab"  aria-expanded="false" aria-selected="false">Files</a>
  </li>
  {% if not Model.data_to_curate %}
    <li class="nav-item">
      <a href="?model={{Model.id}}&tab=3" class="nav-link {% if tab == 3 %} active {% endif %}" role="tab" aria-expanded="false" aria-selected="false">Mechanisms</a>
    </li>
    <li class="nav-item dropdown">
    </li><li class="nav-item">
      <a href="?model={{Model.id}}&tab=4" class="nav-link {% if tab == 4 %} active {% endif %}" role="tab" aria-expanded="false" aria-selected="false">Parameters</a>
    </li>
  {% endif %}
  <li class="nav-item">
      <a href="?model={{Model.id}}&tab=7" class="nav-link {% if tab == 7 %} active {% endif %}" role="tab" aria-expanded="false" aria-selected="false">Citations</a>
  </li>    
</ul>
