{% extends "showmodel-base.html" %}

{% block head %}
<style>
    .indented {
        margin-left: 2em;
    }
</style>
{% endblock %}
{% block leftcol %}

<div>
    <p>{{Model.notes.value}}</p>
    {% if Model.model_type %}
        <p><b>Model Type:</b>
            {% for item in Model.model_type.value %}
                {% if not forloop.first %}
                    ;
                {% endif %}
                <a href="/ModelList?id={{item.object_id}}">{{item.object_name}}</a>
            {% endfor %}
        </p>
    {% endif %}
    {% if Model.regions %}
        <p><b>Region(s) or Organism(s):</b>
            {% for item in Model.region.value %}
                {% if not forloop.first %}
                    ;
                {% endif %}
                <a href="/ModelList?id={{item.object_id}}">{{item.object_name}}</a>
            {% endfor %}
        </p>
    {% endif %}
    {% if Model.neurons %}
        <p><b>Cell Type(s):</b>
            {% for item in Model.neurons.value %}
                {% if not forloop.first %}
                    ;
                {% endif %}
                <a href="/ModelList?id={{item.object_id}}">{{item.object_name}}</a>
            {% endfor %}
        </p>
    {% endif %}         
    {% if Model.currents %}
        <p><b>Currents:</b>
            {% for item in Model.currents.value %}
                {% if not forloop.first %}
                    ;
                {% endif %}
                <a href="/ModelList?id={{item.object_id}}">{{item.object_name}}</a>
            {% endfor %}
        </p>
    {% endif %}
    {% if Model.receptors %}
        <p><b>Receptors:</b>
            {% for item in Model.receptors.value %}
                {% if not forloop.first %}
                    ;
                {% endif %}
                <a href="/ModelList?id={{item.object_id}}">{{item.object_name}}</a>
            {% endfor %}
        </p>
    {% endif %}
    {% if Model.genes %}
        <p><b>Genes:</b>
            {% for item in Model.genes.value %}
                {% if not forloop.first %}
                    ;
                {% endif %}
                <a href="/ModelList?id={{item.object_id}}">{{item.object_name}}</a>
            {% endfor %}
        </p>
    {% endif %}
    {% if Model.transmitters %}
        <p><b>Transmitters:</b>
            {% for item in Model.transmitters.value %}
                {% if not forloop.first %}
                    ;
                {% endif %}
                <a href="/ModelList?id={{item.object_id}}">{{item.object_name}}</a>
            {% endfor %}
        </p>
    {% endif %}
    {% if Model.model_concept %}
        <p><b>Model Concept(s):</b>
            {% for item in Model.model_concept.value %}
                {% if not forloop.first %}
                    ;
                {% endif %}
                <a href="/ModelList?id={{item.object_id}}">{{item.object_name}}</a>
            {% endfor %}
        </p>
    {% endif %}  
    {% if Model.modeling_application %}
        <p><b>Simulation Environment:</b>
            {% for item in Model.modeling_application.value %}
                {% if not forloop.first %}
                    ;
                {% endif %}
                <a href="/ModelList?id={{item.object_id}}">{{item.object_name}}</a>
            {% endfor %}
        </p>
    {% endif %}        

    {% if Model.implemented_by %}
        <p><b>Implementer(s):</b>
            {% for item in Model.implemented_by.value %}
                {% if not forloop.first %}
                    ;
                {% endif %}
                <a href="/ModelList?id={{item.object_id}}">{{item.object_name}}</a>
            {% endfor %}
        </p>
    {% endif %}
    <p>
        <b>References:</b>
        {% for paper in Model.papers %}
            <p class="indented">{{paper.html|safe}}</p>
        {% endfor %}
    </p>      
</div>
<hr width="75%">

<!-- iframe height solution adapted from https://stackoverflow.com/questions/819416/adjust-width-and-height-of-iframe-to-fit-with-content-in-it -->
<!-- TODO: replace with something that handles window resizes -->
<iframe src="/getModelFile?model={{Model.id}}&file={{filename}}&embed=True" onload='javascript:(function(o){o.style.height=(64+o.contentWindow.document.body.scrollHeight)+"px";}(this));' style="height:200px;width:100%;border:none;overflow:hidden;"></iframe>

{% endblock %}

{% block belowshapeplot %}
<hr width="75%"/>
{% if Model.simPFid %}
    <a href="http://sim.neuroinf.jp/modules/xoonips/detail.php?item_id={{Model.simPFid.value}}">Simulation Platform <sup><i class="fas fa-external-link-alt"></i></sup></a><br>
{% endif %}
<a href="https://github.com/ModelDBRepository/{{Model.id}}">View on GitHub <sup><i class="fas fa-external-link-alt"></i></sup></a><br>
{% endblock %}