{% extends "showmodel-base.html" %}
{% block head %}
<script>
$(() => {
    // make sure we have the right model selected
    $("#alternatemodelselector").val({{Model.id2}});
    $("#alternatemodelselector").change(() => {
        window.location = `https://modeldb.science/${$("#alternatemodelselector").val()}?tab=2`
    });
});
</script>
{% endblock %}
{% block leftcol %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li class="breadcrumb-item {% if forloop.last %}active" aria-current="page{% endif %}">{{breadcrumb | safe}}</li>
        {% endfor %}
        {% if not is_folder %}
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <a class="btn" style="margin-top: -7px" href="/getModelFile?model={{Model.id2}}&file={{filename}}"><i class="fas fa-file-download" title="Download file"></i></a>
            </div>
        {% else %}
            <li/>
        {% endif %}
    </ol>
</nav>
{% if is_folder %}
    <hr/>
    <ul class="nav thin" style="display: block !important;">
        {% for item in content %}
            {% if item.name %}
                <li style="padding-bottom: 0.5em"><a href="/{{Model.id2}}?tab=2&file={{filename}}/{{item.name}}">
                    {% if item.type == 'jpg' or item.type == 'pdf' or item.type == 'gif' or item.type == 'svg' %}
                        <i class="fas fa-file-image"></i>
                    {% elif item.type == 'folder' %}
                        <i class="fas fa-folder"></i>
                    {% elif item.type == 'py' %}
                        <i class="fab fa-python"></i>
                    {% elif item.type == 'js' %}
                        <i class="fab fa-js"></i>
                    {% elif item.type == 'hoc' or item.type == 'mod' or item.type == 'cpp' or item.type == 'h' %}
                        <i class="far fa-file-code"></i>
                    {% else %}
                        <i class="fas fa-file"></i>
                    {% endif %}
                    &nbsp; {{item.name}}
                </a></li>
            {% endif %}
        {% endfor %}
    </ul>
{% else %}
    {% if extension == 'jpg' or extension == 'jpeg' or extension == 'gif' or extension == 'png' or extension == 'bmp' %}
        <img src="/getModelFile?model={{Model.id2}}&file={{filename}}" style="max-width: 100%;"></img>
    {% elif extension == 'svg' %} 
        <img src="/getModelFile?model={{Model.id2}}&file={{filename}}&download=false" style="max-width: 100%;"></img>

    {% else %}
        <!-- iframe height solution adapted from https://stackoverflow.com/questions/819416/adjust-width-and-height-of-iframe-to-fit-with-content-in-it -->
        <!-- TODO: replace with something that handles window resizes -->
        <iframe src="/getModelFile?model={{Model.id2}}&file={{filename}}&embed=True" onload='javascript:(function(o){o.style.height=(64+o.contentWindow.document.body.scrollHeight)+"px";}(this));' style="height:200px;width:100%;border:none;overflow:hidden;"></iframe>
    {% endif %}
{% endif %}


{% endblock %}

{% block belowshapeplot %}
{% if Model.alternative_version.value %}
<div>
There are {{Model.alternative_version.value|length}} other versions of this model. You may select a different one below:
</div>
<div>
<center>
<select id="alternatemodelselector" size="width:100%">
<option value="{{Model.id}}">Original</option>
{% for ver in Model.alternative_version.value %}
<option value="{{ver.object_id}}">{{ver.object_name}}</option>
{% endfor %}
</select>
</center>
</div>
<hr style="width:75%">
{% endif %}

{% if not is_folder %}
    {% if is_mod_file %}
        {% if has_celsius %}
            This mechanism is potentially temperature dependent.
        {% else %}
            This mechanism is not temperature dependent.
        {% endif %}
        <br><br>
        {% if icg_data %}
            <a class="btn btn-primary" style="width:100%" href="https://icg.neurotheory.ox.ac.uk/channels/{{icg_data.kind}}/{{icg_data.icg_id}}">View Ion Channel Genealogy entry</a>
            <br><br>
        {% endif %}
    {% endif %}
    {% if duplicate_files %}
        Reused in {{duplicate_files|length}} other models:<br><br>
        <ul>
            {% for dup in duplicate_files %}
                <li>{{dup.model_name}}
                    <ul>
                        {% for item in dup.data %}
                            <li><a href="/{{dup.model}}?tab=2&file={{item.path}}">{{item.path}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        Not reused in any other models.<br><br>
    {% endif %}
{% endif %}
{% endblock %}