{% extends "showmodel-base.html" %}


{% block leftcol %}

<div>
    <p>
        {{Model.notes.value}}
        {% if access == 'rw' %}
            <button title="Edit notes" id="edit_notes"><i class="fas fa-edit" aria-hidden="true"></i></button>
        {% endif %}
    </p>
    {% if Model.model_type or access == 'rw' %}
        <p><b>Model Type:</b>
            {% for item in Model.model_type.value %}
                {% if not forloop.first %}
                    ;
                {% endif %}
                <a href="/ModelList?id={{item.object_id}}">{{item.object_name}}</a>
            {% endfor %}
            {% if access == 'rw' %}
                <button title="Edit model type" id="edit_model_type"><i class="fas fa-edit" aria-hidden="true"></i></button>
            {% endif %}
        </p>
    {% endif %}
    {% if Model.regions or access == 'rw' %}
        <p><b>Region(s) or Organism(s):</b>
            {% for item in Model.region.value %}
                {% if not forloop.first %}
                    ;
                {% endif %}
                <a href="/ModelList?id={{item.object_id}}">{{item.object_name}}</a>
            {% endfor %}
            {% if access == 'rw' %}
                <button title="Edit regions" id="edit_regions"><i class="fas fa-edit" aria-hidden="true"></i></button>
            {% endif %}
        </p>
    {% endif %}
    {% if Model.neurons or access == 'rw' %}
        <p><b>Cell Type(s):</b>
            {% for item in Model.neurons.value %}
                {% if not forloop.first %}
                    ;
                {% endif %}
                <a href="/ModelList?id={{item.object_id}}">{{item.object_name}}</a>
            {% endfor %}
            {% if access == 'rw' %}
                <button title="Edit neurons" id="edit_neurons"><i class="fas fa-edit" aria-hidden="true"></i></button>
            {% endif %}
        </p>
    {% endif %}         
    {% if Model.currents or access == 'rw' %}
        <p><b>Currents:</b>
            {% for item in Model.currents.value %}
                {% if not forloop.first %}
                    ;
                {% endif %}
                <a href="/ModelList?id={{item.object_id}}">{{item.object_name}}</a>
            {% endfor %}
            {% if access == 'rw' %}
                <button title="Edit currents" id="edit_currents"><i class="fas fa-edit" aria-hidden="true"></i></button>
            {% endif %}
        </p>
    {% endif %}
    {% if Model.receptors or access == 'rw' %}
        <p><b>Receptors:</b>
            {% for item in Model.receptors.value %}
                {% if not forloop.first %}
                    ;
                {% endif %}
                <a href="/ModelList?id={{item.object_id}}">{{item.object_name}}</a>
            {% endfor %}
            {% if access == 'rw' %}
                <button title="Edit receptors" id="edit_receptors"><i class="fas fa-edit" aria-hidden="true"></i></button>
            {% endif %}
        </p>
    {% endif %}
    {% if Model.genes or access == 'rw' %}
        <p><b>Genes:</b>
            {% for item in Model.genes.value %}
                {% if not forloop.first %}
                    ;
                {% endif %}
                <a href="/ModelList?id={{item.object_id}}">{{item.object_name}}</a>
            {% endfor %}
            {% if access == 'rw' %}
                <button title="Edit genes" id="edit_genes"><i class="fas fa-edit" aria-hidden="true"></i></button>
            {% endif %}
        </p>
    {% endif %}
    {% if Model.transmitters or access == 'rw' %}
        <p><b>Transmitters:</b>
            {% for item in Model.transmitters.value %}
                {% if not forloop.first %}
                    ;
                {% endif %}
                <a href="/ModelList?id={{item.object_id}}">{{item.object_name}}</a>
            {% endfor %}
            {% if access == 'rw' %}
                <button title="Edit transmitters" id="edit_transmitters"><i class="fas fa-edit" aria-hidden="true"></i></button>
            {% endif %}
        </p>
    {% endif %}
    {% if Model.model_concept or access == 'rw' %}
        <p><b>Model Concept(s):</b>
            {% for item in Model.model_concept.value %}
                {% if not forloop.first %}
                    ;
                {% endif %}
                <a href="/ModelList?id={{item.object_id}}">{{item.object_name}}</a>
            {% endfor %}
            {% if access == 'rw' %}
                <button title="Edit model concepts" id="edit_model_concept"><i class="fas fa-edit" aria-hidden="true"></i></button>
            {% endif %}
        </p>
    {% endif %}  
    {% if Model.modeling_application or access == 'rw' %}
        <p><b>Simulation Environment:</b>
            {% for item in Model.modeling_application.value %}
                {% if not forloop.first %}
                    ;
                {% endif %}
                <a href="/ModelList?id={{item.object_id}}">{{item.object_name}}</a>
            {% endfor %}
            {% if access == 'rw' %}
                <button title="Edit simulation environment" id="edit_modeling_application"><i class="fas fa-edit" aria-hidden="true"></i></button>
            {% endif %}
        </p>
    {% endif %}        

    {% if Model.implemented_by or access == 'rw' %}
        <p><b>Implementer(s):</b>
            {% for item in Model.implemented_by.value %}
                {% if not forloop.first %}
                    ;
                {% endif %}
                <a href="/ModelList?id={{item.object_id}}">{{item.object_name}}</a>
            {% endfor %}
            {% if Model.data_to_curate %}
                {{Model.data_to_curate.implementers}}
            {% endif %}
            {% if access == 'rw' %}
                <button title="Edit implemented by" id="edit_implemented_by"><i class="fas fa-edit" aria-hidden="true"></i></button>
            {% endif %}
        </p>
    {% endif %}
    <p>
        <b>References:</b>
        {% if Model.papers %}
            {% for paper in Model.papers %}
                <p class="indented">{{paper.html|safe}}</p>
            {% endfor %}
        {% else %}
            {% if Model.data_to_curate %}
                <p class="indented">{{Model.data_to_curate.citation}}</p>
            {% endif %}
        {% endif %}
        {% if access == 'rw' %}
            <button title="Edit papers" id="edit_papers"><i class="fas fa-edit" aria-hidden="true"></i></button>
        {% endif %}
    </p>      
</div>
<hr width="75%">

<!-- iframe height solution adapted from https://stackoverflow.com/questions/819416/adjust-width-and-height-of-iframe-to-fit-with-content-in-it -->
<!-- TODO: replace with something that handles window resizes -->
<iframe src="/getModelFile?model={{Model.id}}&file={{filename}}&embed=True" onload='javascript:(function(o){o.style.height=(64+o.contentWindow.document.body.scrollHeight)+"px";}(this));' style="height:200px;width:100%;border:none;overflow:hidden;"></iframe>

{% endblock %}

{% block belowshapeplot %}
{% if not Model.data_to_curate %}
    <hr width="75%"/>
    {% if Model.simPFid %}
        <a href="http://sim.neuroinf.jp/modules/xoonips/detail.php?item_id={{Model.simPFid.value}}">Simulation Platform <sup><i class="fas fa-external-link-alt"></i></sup></a><br>
    {% endif %}
    <a href="https://github.com/ModelDBRepository/{{Model.id}}">View on GitHub <sup><i class="fas fa-external-link-alt"></i></sup></a><br>
{% endif %}
{% endblock %}