{% extends "showmodel-base.html" %}
{% load static %}

{% block head %}
    <meta property="og:url" content="https://modeldb.science/{{Model.id2}}"/>
    <meta property="og:title" content="{{Model.name|escape}}"/>
    <meta property="og:description" content="{{Model.notes.value|escape}}"/>
    <meta name="twitter:url" content="https://modeldb.science/{{Model.id2}}"/>
    <meta name="twitter:title" content="{{Model.name|escape}}"/>
    <meta name="twitter:description" content="{{Model.notes.value|escape}}"/>
    {% if access == 'rw' %}
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
        <script>
            $(() => {
                $("#neurons_select").select2({width: "100%",
                    placeholder: "Select cell types",
                });
                $("#currents_select").select2({width: "100%",
                    placeholder: "Select currents",
                });
                $("#receptors_select").select2({width: "100%",
                    placeholder: "Select receptors",
                });
                $("#region_select").select2({width: "100%",
                    placeholder: "Select brain region or organism",
                });
                $("#model_type_select").select2({width: "100%",
                    placeholder: "Select model type",
                });
                $("#gene_select").select2({width: "100%",
                    placeholder: "Select genes",
                });
                $("#neurotransmitters_select").select2({width: "100%",
                    placeholder: "Select transmitters",
                });
                $("#model_concept_select").select2({width: "100%",
                    placeholder: "Select model concepts",
                });
                $("#modeling_application_select").select2({width: "100%",
                    placeholder: "Select simulation environments",
                });
                $('#savebutton').click(do_save);
                $("select").on("select2:select", function (evt) {
                    var element = evt.params.data.element;
                    var $element = $(element);

                    $element.detach();
                    $(this).append($element);
                    $(this).trigger("change");
                });
                $("#edit_model_zip").click(() => {
                    document.getElementById('new_zip').click();
                });


            });                
            function do_save() {
                // TODO: switch to put but had issues with csrf
                console.log(create_data());
                fetch(
                    '/api/v1/models/{{Model.id}}',
                    {
                        method: "POST",
                        body: create_data()
                    }
                ).then(
                    (result) => {
                        handle_save_response('', 'success');
                    },
                    (result) => {
                        handle_save_response('', 'failed');
                    }
                );
            }
            function handle_save_response(data, status) {
                let msg;
                let bgcolor;
                if (status == 'success') {
                    msg = 'Save successful';
                    bgcolor = 'lightgreen';
                } else {
                    msg = 'Something went wrong';
                    bgcolor = 'pink';
                }
                $('#saveresults').html(`<center>${msg}</center>`).css('background-color', bgcolor).show();
                setTimeout(() => {
                    $('#saveresults').hide();
                }, 3000);
            }

            function create_data() {
                const formData = new FormData();
                for (let ms of $('.multiselect')) {
                    formData.append(ms.name, $(ms).select2('val'));
                }
                formData.append('edit_model_name', document.getElementById("edit_model_name").value);
                formData.append('model_notes', document.getElementById("model_notes").value);
                formData.append('expmotivation', document.getElementById("expmotivation").value);
                formData.append('modelimplementers', document.getElementById("modelimplementers").value);
                formData.append('modelcitation', document.getElementById("modelcitation").value); 
                formData.append("new_zip", new_zip.files[0]);
                formData.append("csrfmiddlewaretoken", "{{csrf_token}}");
                return formData;
            }
        </script>
        <style>
            .fullwidth {
                width: 100%
            }
        </style>
    {% endif %}
    <script>
        $(() => {
            // make sure we have the right model selected
            $("#alternatemodelselector").val({{Model.id2}});
            $("#alternatemodelselector").change(() => {
                window.location = `https://modeldb.science/${$("#alternatemodelselector").val()}`
            });
        });
    </script>

{% endblock %}
{% block leftcol %}

    <div>
        <p>
            {% if access == 'rw'%}
                {% spaceless %}<textarea name="model_notes" id="model_notes" class="fullwidth" placeholder="Model notes">{{Model.notes.value}}</textarea>{% endspaceless %}
            {% else %}
                {{Model.notes.value}}
            {% endif %}
        </p>
        {% if Model.expmotivation or access == 'rw' %}
            <p>
                <b>Experimental motivation:</b>
                {% if access == 'rw'%}
                    <br>
                    {% spaceless %}<textarea name="expmotivation" id="expmotivation" class="fullwidth">{{Model.expmotivation}}</textarea>{% endspaceless %}
                {% else %}
                    {{Model.expmotivation}}
                {% endif %}            
            </p>
        {% endif %}

        {% if Model.model_type or access == 'rw' %}
            <p><b>Model Type:</b>
                {% if access != 'rw' %}
                    {% for item in Model.model_type.value %}
                        {% spaceless %}
                            <a href="/ModelList/{{item.object_id}}">{{item.object_name}}</a>{% if not forloop.last %};{% endif %}
                        {% endspaceless %}
                    {% endfor %}
                {% else %}
                    <br>
                    <select class="multiselect" name="model_type" id="model_type_select" multiple>
                        {% for item in model_type.all %}
                            <option value={{item.0}} {% if item.0 in model_type.present %}selected{% endif %}>{{item.1}}</option>
                        {% endfor %}
                    </select>
                {% endif %}
            </p>
        {% endif %}
        {% if Model.region or access == 'rw' %}
            <p><b>Region(s) or Organism(s):</b>
                {% if access != 'rw' %}
                    {% for item in Model.region.value %}
                        {% spaceless %}
                            <a href="/ModelList/{{item.object_id}}">{{item.object_name}}</a>{% if not forloop.last %};{% endif %}
                        {% endspaceless %}
                    {% endfor %}
                {% else %}
                    <br>
                    <select class="multiselect" name="region" id="region_select" multiple>
                        {% for item in region.all %}
                            <option value={{item.0}} {% if item.0 in region.present %}selected{% endif %}>{{item.1}}</option>
                        {% endfor %}
                    </select>
                {% endif %}
            </p>
        {% endif %}
        {% if Model.neurons or access == 'rw' %}
            <p><b>Cell Type(s):</b>
                {% if access != 'rw' %}
                    {% for item in Model.neurons.value %}
                        {% spaceless %}
                            <a href="/ModelList/{{item.object_id}}">{{item.object_name}}</a>{% if not forloop.last %};{% endif %}
                        {% endspaceless %}
                    {% endfor %}
                {% else %}
                    <br>
                    <select class="multiselect" name="neurons" id="neurons_select" multiple>
                        {% for item in neurons.all %}
                            <option value={{item.0}} {% if item.0 in neurons.present %}selected{% endif %}>{{item.1}}</option>
                        {% endfor %}
                    </select>
                {% endif %}
            </p>
        {% endif %}         
        {% if Model.currents or access == 'rw' %}
            <p><b>Currents:</b>
                {% if access != 'rw' %}
                    {% for item in Model.currents.value %}
                        {% spaceless %}
                            <a href="/ModelList/{{item.object_id}}">{{item.object_name}}</a>{% if not forloop.last %};{% endif %}
                        {% endspaceless %}
                    {% endfor %}
                {% else %}
                    <br>
                    <select class="multiselect" name="currents" id="currents_select" multiple>
                        {% for item in currents.all %}
                            <option value={{item.0}} {% if item.0 in currents.present %}selected{% endif %}>{{item.1}}</option>
                        {% endfor %}
                    </select>
                {% endif %}
            </p>
        {% endif %}
        {% if Model.receptors or access == 'rw' %}
            <p><b>Receptors:</b>
                {% if access != 'rw' %}
                    {% for item in Model.receptors.value %}
                        {% spaceless %}
                            <a href="/ModelList/{{item.object_id}}">{{item.object_name}}</a>{% if not forloop.last %};{% endif %}
                        {% endspaceless %}
                    {% endfor %}
                {% else %}
                    <br>
                    <select class="multiselect" name="receptors" id="receptors_select" multiple>
                        {% for item in receptors.all %}
                            <option value={{item.0}} {% if item.0 in receptors.present %}selected{% endif %}>{{item.1}}</option>
                        {% endfor %}
                    </select>
                {% endif %}
            </p>
        {% endif %}
        {% if Model.gene or access == 'rw' %}
            <p><b>Genes:</b>
                {% if access != 'rw' %}
                    {% for item in Model.gene.value %}
                        {% spaceless %}
                            <a href="/ModelList/{{item.object_id}}">{{item.object_name}}</a>{% if not forloop.last %};{% endif %}
                        {% endspaceless %}
                    {% endfor %}
                {% else %}
                    <br>
                    <select class="multiselect" name="gene" id="gene_select" multiple>
                        {% for item in gene.all %}
                            <option value={{item.0}} {% if item.0 in gene.present %}selected{% endif %}>{{item.1}}</option>
                        {% endfor %}
                    </select>
                {% endif %}
            </p>
        {% endif %}
        {% if Model.neurotransmitters or access == 'rw' %}
            <p><b>Transmitters:</b>
                {% if access != 'rw' %}
                    {% for item in Model.neurotransmitters.value %}
                        {% spaceless %}
                            <a href="/ModelList/{{item.object_id}}">{{item.object_name}}</a>{% if not forloop.last %};{% endif %}
                        {% endspaceless %}
                    {% endfor %}
                {% else %}
                    <br>
                    <select class="multiselect" name="neurotransmitters" id="neurotransmitters_select" multiple>
                        {% for item in neurotransmitters.all %}
                            <option value={{item.0}} {% if item.0 in neurotransmitters.present %}selected{% endif %}>{{item.1}}</option>
                        {% endfor %}
                    </select>
                {% endif %}
            </p>
        {% endif %}
        {% if Model.model_concept or access == 'rw' %}
            <p><b>Model Concept(s):</b>
                {% if access != 'rw' %}
                    {% for item in Model.model_concept.value %}
                        {% spaceless %}
                            <a href="/ModelList/{{item.object_id}}">{{item.object_name}}</a>{% if not forloop.last %};{% endif %}
                        {% endspaceless %}
                    {% endfor %}
                {% else %}
                    <br>
                    <select class="multiselect" name="model_concept" id="model_concept_select" multiple>
                        {% for item in model_concept.all %}
                            <option value={{item.0}} {% if item.0 in model_concept.present %}selected{% endif %}>{{item.1}}</option>
                        {% endfor %}
                    </select>
                {% endif %}
            </p>
        {% endif %}  
        {% if Model.modeling_application or access == 'rw' %}
            <p><b>Simulation Environment:</b>
                {% if access != 'rw' %}
                    {% for item in Model.modeling_application.value %}
                        {% spaceless %}
                            <a href="/ModelList/{{item.object_id}}">{{item.object_name}}</a>{% if not forloop.last %};{% endif %}
                        {% endspaceless %}
                    {% endfor %}
                {% else %}
                    <br>
                    <select class="multiselect" name="modeling_application" id="modeling_application_select" multiple>
                        {% for item in modeling_application.all %}
                            <option value={{item.0}} {% if item.0 in modeling_application.present %}selected{% endif %}>{{item.1}}</option>
                        {% endfor %}
                    </select>
                {% endif %}
            </p>
        {% endif %}        

        {% if Model.implemented_by or access == 'rw' %}
            <p><b>Implementer(s):</b>
                {% for item in Model.implemented_by.value %}
                    {% spaceless %}
                        <a href="/implementers/{{item.object_name}}">{{item.object_name}}</a>{% if not forloop.last %};{% endif %}
                    {% endspaceless %}
                {% endfor %}
                {% if Model.data_to_curate %}
                    <br>
                    <textarea name="model_implementers" id="modelimplementers" class="fullwidth">{{Model.data_to_curate.implementers}}</textarea>
                {% endif %}
            </p>
        {% endif %}
        <p>
            <b>References:</b>
            {% if Model.papers %}
                {% for paper in Model.papers %}
                    <p class="indented">{{paper.html|safe}}</p>
                {% endfor %}
            {% else %}
                {% if Model.data_to_curate %}
                    {% if access == "rw" %}
                        <br>
                        <textarea name="model_citation" id="modelcitation" class="fullwidth">{{Model.data_to_curate.citation}}</textarea>
                    {% else %}
                        <p class="indented">{{Model.data_to_curate.citation}}</p>
                    {% endif %}
                {% endif %}
            {% endif %}
        </p>      
    </div>

<hr width="75%">

<!-- iframe height solution adapted from https://stackoverflow.com/questions/819416/adjust-width-and-height-of-iframe-to-fit-with-content-in-it -->
<!-- TODO: replace with something that handles window resizes -->
<iframe src="/getModelFile?model={{Model.id2}}&file={{filename}}&embed=True" onload='javascript:(function(o){o.style.height=(64+o.contentWindow.document.body.scrollHeight)+"px";}(this));' style="height:200px;width:100%;border:none;overflow:hidden;"></iframe>

<div id="saveresults" style="display:none; position:fixed; top:0px; left:0px; width:100%;">
</div>

{% endblock %}

{% block belowshapeplot %}
{% if Model.alternative_version.value %}
<div>
There are {{Model.alternative_version.value|length}} other versions of this model. You may select a different one below:
</div>
<div>
<center>
<select id="alternatemodelselector" size="width:100%">
<option value="{{Model.id}}">Original</option>
{% for ver in Model.alternative_version.value %}
<option value="{{ver.object_id}}">{{ver.object_name}}</option>
{% endfor %}
</select>
</center>
</div>
<hr style="width:75%">
{% endif %}

    {% if access == 'rw' %}
        <br>
        <button class="btn btn2" id="savebutton">Save changes</button>
    {% endif %}
{% if not Model.data_to_curate %}
    <hr width="75%"/>
    {% if Model.simPFid %}
        <a href="http://sim.neuroinf.jp/modules/xoonips/detail.php?item_id={{Model.simPFid.value}}">Simulation Platform <sup><i class="fas fa-external-link-alt"></i></sup></a><br>
    {% endif %}
    {% if Model.biosimulations %}
        <a href="https://biosimulations.org/projects/{{Model.biosimulations.value}}">BioSimulations.Org <sup><i class="fas fa-external-link-alt"></i></sup></a><br>
    {% endif %}    
    {% if Model.opensourcebrain %}
        <a href="https://www.opensourcebrain.org/projects/{{Model.opensourcebrain.value}}">Open Source Brain <sup><i class="fas fa-external-link-alt"></i></sup></a><br>
    {% endif %}    
    <a href="https://github.com/ModelDBRepository/{{Model.id2}}">View on GitHub <sup><i class="fas fa-external-link-alt"></i></sup></a><br>
{% endif %}
{% endblock %}
