{% extends "bigleftcol.html" %}

{% block head %}
    <style>
        .indented {
            margin-left: 2em;
        }
        .btn2 {
            color: black !important;
            background-color: lightblue !important;
        }
        .btn2:hover {
            color: white !important;
            background-color: blue !important;
        }
        .btn3:hover {
            color: black !important;
            background-color: blue !important;
        }
        .thin>li>a {
            padding: 5px 10px !important
        }
    </style>
    {% if access == "rw" %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    {% endif %}
{% endblock %}

{% block header %}
  {% include "showmodel-tabs.html" %}
{% endblock %}

{% block sidecolumn %}
<div class="well">
    {% if not Model.data_to_curate %}
        ShapePlot goes here
    {% else %}
        <a href="/forget_access?model={{Model.id}}" class="btn btn2">Forget access</a>
    {% endif %}
    {% block belowshapeplot %}
    {% endblock %}
</div>
{% endblock %}
