{% extends "main.html" %}
{% load static %}


{% block head %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

<script>
        $(function () {
            {% for meta_item in metadata %}
            $("#{{meta_item.1}}").select2({
                width: "100%",
                placeholder: "Select {{meta_item.0.lower}}",
            });
            {% endfor %}
            $("select").on("select2:select", function (evt) {
                var element = evt.params.data.element;
                var $element = $(element);

                $element.detach();
                $(this).append($element);
                $(this).trigger("change");
            });
            $('#guessattributes').click(function (ev) {
                $('#myModal').modal('show');
                setTimeout(function () {
                    $("#abstracttext").focus();
                }, 500);

            });
            $('#submitabstract').click(function () {
                $('#myModal').modal('hide');
                $.post(
                    "/metadata-predictor",
                    { 'abstract': $('#abstracttext').val() },
                    function (data) {
                        console.log('received', data);
                        $("#metadata_results").html("");
                        $.each(data, function (i, value) {
                            $('#metadata_results').append('<label><input type="checkbox" checked> ' + value + '</label><br/>');
                        });
                        $('#metadata_results label').css('width', '100%').css('float', 'none');
                        $('#myModal2').modal('show');

                    },
                    "json"
                );
            });

            $('#greatthanks').click(function () {
                var v = $("#metadata_results :checked").parent();
                var datatags = [];
                $.each(v, function (i, val) {
                    var tag = val.innerText.trim();
                    datatags.push(tag);
                });
                console.log(datatags);
                set_metadata_items(datatags);
            });
    });

    function set_metadata_items(list_of_ids) {
        {% for field in metadata %}
            for (item of list_of_ids) {
                $(`#{{field.1}} option[value=${item}]`).prop("selected", true);
                $("#{{field.1}}").trigger("change");
            }
        {% endfor %}
    }    
</script>
<style>
    .multiselect {
        width: 100%
    }
    .entryrow {
        padding-bottom: 1em;
    }
    .explanation {
        font-style: italic; 
        font-size: small;
    }
    input:required {
        box-shadow: none;
    }
</style>

{% endblock %}

{% block content %}
    <h3>Website under development</h3>
    This is the future home of ModelDB. For now, please use <a href="https://senselab.med.yale.edu/ModelDB/SubmitModel">https://senselab.med.yale.edu/ModelDB/SubmitModel</a> for submitting models instead.
    <h3>Submit New Model</h3><br>
    <div class="row entryrow">
        <div class="col-12 explanation">
            Only the information in this first section is required, however the more
            information you provide, the easier it will be for others to discover
            your model.
        </div>
    </div>

    <form action="/ProcessModelSubmit" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div class="row entryrow">
            <div class="col-md-3">
                Your full name:
            </div>
            <div class="col-md-9">
                <input name="modelername" type="text" style="width:100%" placeholder="Contributor name" required />
            </div>
        </div>
        <div class="row entryrow">
            <div class="col-md-3">
                Your email:
            </div>
            <div class="col-md-9">
                <input name="modeleremail" type="email" style="width:100%" placeholder="Contributor email" required />
            </div>
        </div>
        <div class="row entryrow">
            <div class="col-md-3">
                Paper citation:
                <p class="explanation">
                    Required for public models.
                </p>                
            </div>
            <div class="col-md-9">
                <textarea name="citation" style="width:100%; height: 5em" placeholder="Enter citation or PMID in any format"></textarea>
            </div>
        </div>
        <div class="row entryrow">
            <div class="col-md-3">
                Read/write access code:
                <p class="explanation">
                    Allows viewing and editing your model before it is made public.
                </p>
            </div>
            <div class="col-md-9">
                <input name="rwac" type="password" style="width:100%" value="" placeholder="Access code" required />
            </div>
        </div>
        <div class="row entryrow">
            <div class="col-md-3">
                Zip file with model code:
            </div>
            <div class="col-md-9">
                <input id="zipfile" name="zipfile" type="file"  value="" placeholder="model zip file" required accept=".zip"/>
            </div>
        </div>
        <div class="row entryrow">
            <div class="col-md-3">
                Model license:
                <p class="explanation">
                    A license tells people what they can and cannot do with your model.
                </p>
            </div>
            <div class="col-md-9">
                <select name="license" id="license" style="width: 100%" required>
                    <option value=""></option>
                    <option value="MIT">MIT</option>
                    <option value="BSD2">BSD 2-clause</option>
                    <option value="BSD3">BSD 3-clause</option>
                    <option value="GPL">GPL</option>
                    <option value="other">Other</option>
                </select>
            </div>
        </div>

        <div class="row entryrow">
            <div class="col-12">
                <h4>Model overview and sharing</h4>
            </div>
        </div>
        <div class="row entryrow">
            <div class="col-md-3">
                Model name:
                <p class="explanation">
                    What is investigated and paper. Examples in
                    <a href="/ListByModelName?c=19&lin=-1" target="_blank">model names</a> list.
                </p>
            </div>
            <div class="col-md-9">
                <input name="name" type="text" style="width:100%" placeholder="Model name, typically: model topic (author et al, year)" />
            </div>
        </div>
        <div class="row entryrow">
            <div class="col-md-3">
                Model notes:
                <p class="explanation">
                    A concise summary of the model, question, and results. Some people provide the paper abstract, but a model-focused explanation is better.
                    You might want to answer: what makes your model different from models of the same cell, disease, etc? What were the main predictions/explanations
                    from your model?
                </p>
            </div>
            <div class="col-md-9">
                <textarea name="notes" style="width:100%; height: 5em" placeholder="Paper abstract or a more concise summary of the model, question, and results."></textarea>
            </div>
        </div>
        <div class="row entryrow">
            <div class="col-md-3">
                Experimental motivation:
                <p class="explanation">
                    Brief summary of key experimental findings driving modeling choices.
                </p>
            </div>
            <div class="col-md-9">
                <textarea name="expmotivation" style="width:100%; height: 5em" placeholder="If applicable, e.g. why the channel distributions, connectivity rules, etc"></textarea>
            </div>
        </div>

        <div class="row entryrow">
            <div class="col-md-3">
                Read only access code:
                <p class="explanation">
                    Allows others (e.g. reviewers) to read but not edit an unpublished model.
                </p>
            </div>
            <div class="col-md-9">
                <input name="rac" type="password" style="width:100%" value="" placeholder="Read-only access code" />
            </div>
        </div>



        <div class="row entryrow">
            <div class="col-12">
                <h4>Model properties</h4>
                <p class="explanation">
                    Properties autocomplete as you type or you can use the down arrow to see
                    the full list.
                </p>
                <p class="explanation">
                    Choose the properties of the model by keeping this guiding question in mind: 
                    "Do I want my model to appear when someone searches for all models 
                    with that(those) keyword(s)?" If one or more properties you would like to 
                    choose for your model does not already exist in the list(s) use the "Other tags"
                    text box at the end to enter your suggestion. Most of the properties allow multiple
                    selections. 
                </p>

            </div>
        </div>
        <div class="row entryrow">
            <div class="col-12">
                <center><button id="guessattributes" type="button" class="btn btn-primary">Let us find ModelDB keywords for
                        you!</button></center><br />
                <i class="explain">Click the button to automatically find, approve, and populate model entry keywords based on
                    your
                    paper abstract.</i>
                <div id="myModal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Automatic keyword identifier</h4>
                            </div>
                            <div class="modal-body">
                                <p>Please paste your paper abstract here.</p>
                                <textarea id="abstracttext" class="form-control" style="min-width: 90%"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button id="cancelbutton" type="button" class="btn btn-default"
                                    data-dismiss="modal">Cancel</button>
                                <button id="submitabstract" type="button" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div id="myModal2" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Automatic keyword identifier: results</h4>
                            </div>
                            <div class="modal-body">
                                <p>Deselect keywords that do not describe the model, then press the button to accept the rest.
                                </p>
                                <div id="metadata_results">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button id="greatthanks" type="button" class="btn btn-default btn-primary" data-dismiss="modal">Accept
                                    selected keywords</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% for meta_item in metadata %}
            <div class="row entryrow">
                <div class="col-md-3">
                    {{meta_item.0}}:
                </div>
                <div class="col-md-9">
                    <select class="multiselect" name="{{meta_item.1}}" id="{{meta_item.1}}" multiple>
                        {% for item in meta_item.2 %}
                            <option value={{item.0}}>{{item.1}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        {% endfor %}
        <div class="row entryrow">
            <div class="col-md-3">
                Implementer(s):
            </div>
            <div class="col-md-9">
                <input name="implementers" type="text" style="width:100%" placeholder="Implementers" />
            </div>
        </div>
        <div class="row entryrow">
            <div class="col-12">
                <p>
                    Are there any other tags we should use to annotate your model?
                </p>
                <textarea name="othertags" style="width:100%; height: 5em" placeholder="Suggest other tags"></textarea><br><br>
                <p>
                    <input type="submit" value="Submit"/>
                </p>
            </div>
        </div>
    </form>
{% endblock %}
