{% extends "main.html" %}

{% block head %}
<style>
    .description {
        font-style: italic;
    }
</style>
<script>
$(() => {
    $('#papertable').bootstrapTable({
        pagination: true,
        search: true,
        data: {{ datajson | safe}},
        formatSearch: () => 'filter'
    })
});
function paperid(id) {
    return `<a href="/citations?id=${id}">${id}</a>`
}
</script>
{% endblock %}
{% block header %}
    <h1>
        Top cited papers by ModelDB papers
    </h1>
{% endblock %}
{% block content %}
    <table id="papertable" data-toggle="papertable">
        <thead>
            <tr>
                <th data-sortable="true" data-field="id" data-formatter="paperid">PaperID</th>
                <th data-sortable="true" data-field="p">Paper</th>
                <th data-sortable="true" data-field="c">Count</th>
            </tr>
        </thead>
    </table>
{% endblock %}

